<div class="extra-options">
	[%multilevelpricing id:'[@SKU@]'%]
		[%PARAM *header%]
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th colspan="2">
						Buy In Bulk &amp; Save!
					</th>
				</tr>
			</thead>
			<tbody>
				[%END PARAM%]
				[%PARAM *body%]
				<tr>
				<td width="20%" nowrap="nowrap">
				<span class="productmultilevelqty">Buy [%FORMAT type:'number' dp:'0' sp:','%][@minqty@][%END FORMAT%]
				[%IF [@maxqty@] > 0%]
				to [%FORMAT type:'number' dp:'0' sp:','%][@maxqty@][%END FORMAT%]:
				</span>
				</td>
				[%ELSE%]
				or more:
				</span>
				</td>
				[%END IF%]
				<td nowrap="nowrap">
				<span class="productmultilevelprice"> Pay [%FORMAT type:'currency'%][@price@][%END FORMAT%] [@unit@]</span>
				</td>
				</tr>
				[%END PARAM%]
				[%PARAM *footer%]
			</tbody>
		</table>
		[%END PARAM%]
	[%END multilevelpricing%]


	[%extra_options id:'[@SKU@]'%]
		[%PARAM *header%]
		<table class="table table-striped table-bordered">
			<tr>
				<th colspan="2">
					Available Options
				</th>
			</tr>
			[%END PARAM%][%PARAM *number_option%]
				<tr>
					<td>
						<label>[@name@]</label>
					</td>
					<td>
						<input name="extra[@count@]" class="form-control" id="productextra[@count@]" rel="[@SKU@]" value="">
					</td>
				</tr>
			[%END PARAM%][%PARAM *text_option%]
				<tr>
					<td>
						<label>[@name@]</label>
					</td>
					<td>
						<textarea name="extra[@count@]" class="form-control" id="productextra[@count@]" rel="[@SKU@]" cols="20"></textarea>
					</td>
				</tr>
			[%END PARAM%]
			[%PARAM *select_option%]
				<tr>
					<td>
						<label>[@name@]</label>
					</td>
					<td>
						<select name="extra[@count@]" class="form-control" id="productextra[@count@]" rel="[@SKU@]">
							[@choices@]
						</select>
					</td>
				</tr>
			[%END PARAM%]
			[%PARAM *choices%]
				<option type="text" class="form-control" value="[@option_id@]">[%nohtml%][@text@][%end nohtml%]
				[%DATA id:'price' if:'!=' value:'0'%]
					(+ [%FORMAT type:'currency'%][@price@][%END FORMAT%])
				[%END DATA%]
				</option>
			[%END PARAM%]
			[%PARAM *footer%]
			<input type="hidden" name="extras" value="[@total_options@]"/>
		</table>
		<hr />
		[%END PARAM%]
	[%END extra_options%]



[%UPSELL_PRODUCTS type:'cart_upsell' limit:'[$upsell_limit$]' template:'upsell' show_all:'1' sortby:'sortorder2, SKU, name'%]
[%PARAM id%][%if [@parent_sku@]%][@parent_sku@][%else%][@sku@][%/if%][%/PARAM%]
[%PARAM HEADER%]

<div class="panel-heading">
<h5>Optional add-ons</h5>
</div>

<div class="panel-body-unpadded">
<div class="row">
[%END PARAM%]
[%PARAM FOOTER%]
</div>

</div>
<hr>
<input style="display:none;" id="chk[@SKU@]_multi" type="checkbox" checked />
					<input type="hidden" name="sku[@SKU@]_multi" id="sku[@SKU@]_multi" value="[@SKU@]" />
[%END PARAM%][%END UPSELL_PRODUCTS%]

	[%data id:'multiplier_qty' if:'ne' value:'0' %]
	Order In Lots Of <strong>[@multiplier_qty@]</strong>
	[%end data%]
	[%data id:'min_qty' if:'ne' value:'0' %]
	Minimum Order Quantity <strong>[@min_qty@]</strong>
	[%end data%]
	[%data id:'max_qty' if:'ne' value:'0' %]
	Maximum Order Quantity <strong>[@max_qty@]</strong>
	[%end data%]

    <div class="row">
    [%IF ![@has_child@] || [@has_variation@]%]
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="wrapper-pricing col-xs-12">
        <meta itemprop="priceCurrency" content="AUD" />
        <div class="hidden">
	[%IF [@extra@] or [@has_child@] %]
		<meta itemprop="availability" content="http://schema.org/InStock"/>Available online
	[%ELSEIF [@store_quantity@] > 0 AND [@preorder@] %]
		<meta itemprop="availability" content="http://schema.org/PreOrder"/>Preorder Available
	[%ELSEIF [@store_quantity@] > 0 AND ![@preorder@] %]
		<meta itemprop="availability" content="http://schema.org/InStock"/>Available online
	[%ELSEIF [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
		<meta itemprop="availability" content="http://schema.org/OutOfStock"/>Out of stock
	[%ELSE%]
		<meta itemprop="availability" content="http://schema.org/OutOfStock"/>Out of stock
	[%END IF%]
</div>
            [%IF ![@inpromo@]%]


                <span class="price-wrapper">
                    $<span class="productprice productpricetext finalprice" itemprop="price">[@store_price@]</span>
                </span>
                <p class="price-extras">
                    [%IF [@save@] > 0%]
                        <span class="price-rrp">
                            RRP [%format type:'currency'%][@retail@][%END format%]
                        </span>
                    [%END IF%]
                    [%IF [@save@] > 0 %]
                        <span class="price-save">
                            [%format type:'percent'%][@save@][%END format%] OFF
                        </span>
                    [%END IF%]
                    &nbsp;
                </p>




            [%ELSE%]
                <p class="price-extras">
                    <span class="productwasprice">
                        RRP [%format type:'currency'%][@retail@][%END format%]
                    </span>

                    [%IF [@save@] > 0 %]
                        <span class="price-save">
                            [%format type:'percent'%][@save@][%END format%] OFF
                        </span>
                    [%END IF%]
                    &nbsp;
                </p>

                <span class="price-wrapper price-sale">
                    Sale:
                    <span itemprop="price">[%format type:'currency'%][@promo_price@][%END format%]</span>
                </span>
<div class="productsavetext">
					Sale Ends in <span id="sale-end" class="time"></span>
				</div>
				<div class="time-text">
				<p>[%format type:'date' format:' #H:#I #a, #d #K #Y'%][@promo_end@][%END format%]</p>
				</div>
            [%END IF%]

            [%IF [@availability_description@]%]
                <p class="availability_description text-muted">
                    [@availability_description@]
                </p>
            [%END IF%]
        </div>
    [%END IF%]

		<div class="col-xs-12 ">
			<a data-toggle="modal" data-target="#afterpayModal" href="#"><img src="/assets/afterpay/apblue.png" class="img-responsive" style="border:1px solid #000; border-radius:4px;"/></a>
									<p class="afterpay-text" >Make 4 payments of [%format type:'currency'%][%calc [@store_price@]/4 /%][%/format%] over 8 weeks and get it now!
									<!-- Button trigger modal -->
									<button type="button" class="btn-link" data-toggle="modal" data-target="#afterpayModal">
									  Info
									</button></p>

									<!-- Modal -->
									<div class="modal fade" id="afterpayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									        <img src="/assets/afterpay/ap-01.png">
									      </div>
									      <div class="modal-body">
									        <div class="row">
														<div class="col-xs-12">
															<h5>Pay over 8 weeks and receive your order now!</h5>
															<p>Using Afterpay you can pay for your order over 8 weeks. There's no interest or added fees and nothing to pay today. Payment will be automatically taken from your debit or credit card in four equal payments each fortnight over 8 weeks, and you will receive your order immediately.</p>
														</div>
														<div class="col-xs-12 col-md-3 text-center">
															<i class="fa fa-calendar fa-5x"></i><br/>
															<b>more time to pay</b><br/>
															<small>Afterpay allows you to pay for your order fortnightly over 56 days.</small>
														</div>
														<div class="col-xs-12 col-md-3 text-center">
															<i class="fa fa-clock-o fa-5x"></i><br/>
															<b>no wait</b><br/>
															<small>Your order will be shipping instantly. Just like a normal order.</small>
														</div>
														<div class="col-xs-12 col-md-3 text-center">
															<i class="fa fa-dollar fa-5x"></i><br/>
															<b>spend up to $1000</b><br/>
															<small>You can use Afterpay for all orders up to $1000.</small>
														</div>
														<div class="col-xs-12 col-md-3 text-center">
															<i class="fa fa-ban fa-5x"></i><br/>
															<b>no catch</b><br/>
															<small>No interest, added fees, and nothing to pay today.</small>
														</div>
														<div class="col-xs-12"><br/>
															<p>You simply need:</p>
															<ul>
																<li>A debit card or credit card</li>
																<li>To be over 18 years of age</li>
																<li>To live in Australia</li>
															</ul>
															<p>To use this service simply:</p>
															<ul>
																<li>Add your items to your shopping bag, and checkout as normal. Valid for amounts up to $1000</li>
																<li>On the checkout page select Afterpay as your payment method.</li>
																<li>Enter your details with Afterpay and you're done.</li>
															</ul>
															<p>The funds for the first payment will need to be available on the card at time of checkout, however the first payment won't be deducted for 14 days<br/><br/>
															If you wish to return your goods you can choose to receive an exchange, or the Afterpay payment plan can be cancelled before the first payment at no charge. If you fail to make a payment you will be charged a late payment fee of $20.<br/><br/>
														There's no waiting and we'll ship out your order immediately as normal.</p>
														</div>
													</div>
									      </div>
									      <div class="modal-footer">
													<div class="col-xs-12">
														<p>Simple select Afterpay at checkout <button type="button" class="btn-link" data-dismiss="modal">Continue shopping</button></p>

													</div>
									      </div>
									    </div>
									  </div>
								  </div>
            </div>
</div>
<input id="product_price" type="hidden" value="[@store_price@]" />


	[%UPSELL_PRODUCTS limit:'[$upsell_limit$]' template:'blank' %][%PARAM id%][%if [@parent_sku@]%][@parent_sku@][%else%][@sku@][%/if%][%/PARAM%][%PARAM *ifempty%]
    <div class="row">
		[%if [@has_variation@]%]
				<div class="col-xs-12">
					<a class="btn btn-success disabled btn-lg btn-block" >Select Options Above</a>
				</div>
			[%ELSE%]
				<input type="hidden" id="model[@rndm@][@SKU@]" name="model" value="[@model@]">
				<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb" value="[@thumb@]">
				<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku" value="[@SKU@]">

				[%IF [@store_quantity@] < 1 AND [@preorder@] %]
				<div class="col-xs-12 col-sm-3">
						<input class="form-control qty" id="qty[@rndm@][@SKU@]" name="qty" value="[%data id:'min_qty' if:'ne' value:'0' %][@min_qty@][%end data%][%data id:'min_qty' if:'eq' value:'0' %]1[%end data%]" size="2">
			    </div>
				<div class="col-xs-12 col-sm-6">
					<button type="button" title="Add to Cart" class="addtocart btn btn-success btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Pre-Order Now</button>
				</div>

				[%ELSEIF [@store_quantity@] > 0 AND ![@preorder@] %]
				<div class="col-xs-12 col-sm-3">
						<input class="form-control qty" id="qty[@rndm@][@SKU@]" name="qty" value="[%data id:'min_qty' if:'ne' value:'0' %][@min_qty@][%end data%][%data id:'min_qty' if:'eq' value:'0' %]1[%end data%]" size="2">
			    </div>
				<div class="col-xs-12 col-sm-6">
					<button type="button" title="Add to Cart" class="addtocart btn btn-success btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Add to Cart</button>
				</div>
				[%ELSEIF [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
				<div class="col-xs-12 col-sm-3">
						<input class="form-control qty" id="qty[@rndm@][@SKU@]" name="qty" value="[%data id:'min_qty' if:'ne' value:'0' %][@min_qty@][%end data%][%data id:'min_qty' if:'eq' value:'0' %]1[%end data%]" size="2">
			    </div>
				<div class="col-xs-12 col-sm-6">
					<button type="button" title="Add to Cart" class="addtocart btn btn-danger btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Backorder</button>
				</div>
				[%ELSE%]
				<div class="col-xs-12">
					<a class="notifymodalactivate btn btn-danger btn-lg btn-block" data-fancybox-width="400" href="#notifymodal">Notify Me When Back In Stock</a>
				</div>
				[%END IF%]

<!--  				[%if [@store_quantity@] < 1 %]
					<div class="col-xs-12">
						<a class="notifymodalactivate btn btn-danger btn-lg btn-block" data-fancybox-width="400" href="#notifymodal"><i class="fa fa-envelope"></i> Notify Me When Back In Stock</a>
					</div>
					[%else%]
					<div class="col-xs-12 col-sm-8 col-md-6">
						<button type="button" title="Add to Cart" class="addtocart btn btn-success btn-block btn-lg" rel="[@rndm@][@SKU@]"><i class="icon-shopping-cart icon-white"></i> Add to Cart</button>
					</div>
				[%/if%] -->

		[%/if%]


	</div>
	[%END PARAM%][%END UPSELL_PRODUCTS%]
	[%UPSELL_PRODUCTS limit:'[$upsell_limit$]' template:'blank'%][%PARAM id%][%if [@parent_sku@]%][@parent_sku@][%else%][@sku@][%/if%][%/PARAM%][%PARAM FOOTER%]
	<div class="row">
	[%if [@has_variation@]%]
		<div class="col-xs-12"><a class="btn btn-success disabled btn-lg btn-block" >Select Options Above</a></div>
	[%ELSE%]
	[%if [@store_quantity@] < 1%]

[%if [@preorder%]%]
	<div class="col-xs-12 col-sm-3">
		<input class="form-control qty" id="multiaddqty" type="text" value="[%data id:'min_qty' if:'ne' value:'0' %][@min_qty@][%end data%][%data id:'min_qty' if:'eq' value:'0' %]1[%end data%]" size="2">
	</div>

	<div class="col-xs-12 col-sm-6">
		<button type="button" title="Add to Cart" class="btn addtocart btn-primary btn-large add-to-multi" onclick="javascript:$.addMultipleCartItems('multiitemadd');" rel="nofollow"><i class="icon-time icon-white"></i> Pre-Order Now</button>

	</div>
[%else%]
	<div class="col-xs-12">
		<a class="notifymodalactivate btn btn-danger btn-lg btn-block" data-fancybox-width="400" href="#notifymodal"><i class="fa fa-envelope"></i> Notify Me When Back In Stock</a>
	</div>
[%/if%]
	[%else%]


		<div class="col-xs-12 col-sm-3">
		<input class="form-control qty" id="multiaddqty" type="text" value="[%data id:'min_qty' if:'ne' value:'0' %][@min_qty@][%end data%][%data id:'min_qty' if:'eq' value:'0' %]1[%end data%]" size="2">
     </div>
     <div class="col-xs-12 col-sm-6">
		<button type="button" title="Add to Cart" class="btn btn-success btn-block btn-large add-to-multi" onclick="javascript:$.addMultipleCartItems('multiitemadd');" rel="nofollow"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
	</div>
[%/if%]
[%/if%]

	</div>
	[%END PARAM%] [%END UPSELL_PRODUCTS%]



[%data id:'store_quantity' if:'<' value:'1' %]
[%CONFIG id:'ALLOW_NOSTOCK_CHECKOUT' if:'=' value='1'%]
<div class="col-xs-12 col-sm-3">
        <input type="hidden" id="model[@rndm@][@SKU@]" name="model" value="[@model@]">
        <input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb" value="[@thumb@]">
        <input type="text" class="form-control qty" id="qty[@rndm@][@SKU@]" name="qty" value="[%data id:'min_qty' if:'ne' value:'0' %][@min_qty@][%end data%][%data id:'min_qty' if:'eq' value:'0' %]1[%end data%]" size="2">
        <input type="hidden" id="sku[@rndm@][@SKU@]" name="sku" value="[@SKU@]">
		</div>
		<div class="col-xs-12 col-sm-5">
<button type="button" title="Backorder" class="addtocart btn btn-success btn-lg btn-block" rel="[@rndm@][@SKU@]"><i class="icon-shopping-cart icon-white"></i> Backorder</button>
</div>
[%END CONFIG%]
 [%end data%]


	<div id="shipbox">
    <hr>
		<div class="panel-heading" style="padding-bottom:0;">
			<h4><i class="fa fa-truck"></i> Calculate Shipping</h4>
            <p><strong>FREE SHIPPING</strong> Australia-wide on most orders over AU $99.00<BR>
            Excludes Bulky Items</p>
            <p>Use our shipping calculator below for <a href="www.wildearth.com.au/view/shipping/18">express shipping options</a></p>
		</div>
		<div class="panel-body" style="padding:0 15px;">
			<div class="row btn-stack">
				<div class="col-xs-12 col-md-3 hidden">
					<input type="number" name="input" id="n_qty" value="[@qty@]" size="2" class="form-control" placeholder="Qty">
				</div>
				<div class="col-xs-12 col-md-5">
                    <select id="country" class="form-control">
                        <option value="AU" [%if [@ship_country@] eq 'AU'%]selected[%/if%]>Australia</option>
                        <option value="NZ" [%if [@ship_country@] eq 'NZ'%]selected[%/if%]>New Zealand</option>
                        <option value="CA" [%if [@ship_country@] eq 'CA'%]selected[%/if%]>Canada</option>
                        <option value="GB" [%if [@ship_country@] eq 'GB'%]selected[%/if%]>United Kingdom</option>
                        <option value="US" [%if [@ship_country@] eq 'US'%]selected[%/if%]>United States</option>
                    </select>
				</div>
				<div class="col-xs-12 col-md-3 post-code">
					<input type="text" name="input" id="zip" value="[%SESSION id:'ship_zip'/%]" size="5" class="form-control" placeholder="Post Code">
				</div>
				<div class="col-xs-12 col-md-4">
					<button type="button" class="btn btn-block btn-default btn-sm btn-loads" data-loading-text="<i class='fa fa-refresh fa-spin' style='font-size: 14px'></i>" onClick="javascript:$.load_ajax_template('_buying_options', {'showloading': '1', 'qty': $('#n_qty').val() , 'ship_zip': $('#zip').val(), 'sku': '[@SKU@]', 'ship_country': $('#country').val()}),$(this).button('loading');" title="Calculate"><i class="fa fa-refresh"></i> Calculate</button>
				</div>
			</div>
			[%SESSION id:'ship_zip' if:'ne' value:''%]
				[%shipping_methods sortby:'delivery_time' sku:'[@SKU@]' qty:'[@qty@]' zip:'[@ship_zip@]' country:'[@ship_country@]'%]
					[%PARAM *header%]
						<br />
					[%END PARAM%]
					[%PARAM *body%]
						<br />
						<strong>[@shipping_method@]</strong> - [%format type:"currency"%][@cost@][%END format%] [%IF [@delivery_time@]%](ETA: [@delivery_time@] days)[%END IF%]<br />
						<i class="text-muted">[@shipping_description@]</i>
					[%END PARAM%]
					[%PARAM *footer%]
						</p>
					[%END PARAM%]
					[%PARAM *ifempty%]
					    [%if [@ship_zip@]%]
					    	<p class="alert alert-danger alert-shipping-error">Shipping not available to selected location.</p>
						[%/if%]
					[%END PARAM%]
				[%END shipping_methods%]
			[%END SESSION%]
		</div>
	</div>

	[%IF [@short_description@]%]
	<p>
	[@short_description@]
	</p>
	[%END IF%]
</div>

<div class="hidden">
	<div id="notifymodal" class="notifymodal">
		<div class="modal-header">
			<h4 class="modal-title">Notify me when back in stock</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label>Your Name</label>
				<input placeholder="Jane Smith" name="from_name" id="from_name" type="text" class="form-control" value="[%NOHTML%][@FROM_NAME@][%END NOHTML%]">
			</div>
			<div class="form-group">
				<label>Your Email Address</label>
				<input placeholder="jane.smith@test.com.au" name="from" id="from" type="email" class="form-control" value="[%NOHTML%][@FROM@][%END NOHTML%]">
			</div>
		</div>
		<div class="modal-footer">
			<input class="btn btn-danger" type="button" onclick="$.fancybox.close(true)" data-dismiss="modal" value="Cancel">
			<input class="btn btn-success" type="button" value="Save My Details" onClick="javascript:$.addNotifyBackInStock('[@SKU@]', '');$.fancybox.close(true)">
		</div>
	</div><!-- /.modal-content -->
</div>
