/* CUSTOM */

#myCarouselBanner {
	margin-bottom: 20px;
}
@media (max-width:768px) {
	.home-spotlight-wrapper>div {
		display: none;
	}
	.home-spotlight-wrapper>div:first-child {
		display: block;
	}
	#myCarouselBanner {
		margin-bottom: 30px;
	}
	.wrapper-ad-units {
		margin-top: 0;
	}
}
.carousel-control.right,
.carousel-control.left {
	background-image:none !important;
}
.carousel-control {
	width:4% !important;
}
.carousel-control .fa {
	left: 42%;
}

.status-tray-pp {
	margin-left: -15px !important;
	margin-right: -15px !important;
}
.status-icons-pp {
	padding: 0;
	text-align: center;
}
.status-icons-pp .fa {
	font-size: 26px !important;
}
.product-payment-pp {
	text-align: center !important;
}
.afterpay-pp {
	margin-right: 0;
	margin-top: 3px;
}
.mobile-menu-wrapper {
	padding: 0;
}
.header-banner .ctw_brand_heading {
	height: auto;
}

@media (max-width: 350px) {
	.calc-shipping-heading {
		font-size: 22px;
	}
	.sort-dropdown {
		padding: 0;
		width: 120px !important;
	}
	.sort-label {
		width: 33px !important;
		padding: 0;
	}
}
@media (max-width:768px) {
	body {
		background: none;
	}
	.wrapper-thumbnail-catp {
		float: left;
	}
	.thumbnail-catp {
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	.thumbnail .caption .prod-title {
		font-size: 80%;
	}
	.prod-title {
		height: 57px !important;
		overflow: hidden;
	}
	.mob-price {
		font-size: 13px !important;
		display: inline !important;
		margin: 0 !important;
	}
	.thumbnail-catp .caption {
		padding: 0;
	}
	.thumbnail-catp .price-extras {
		margin-bottom: 3px;
		height: 32px !important;
	}
	.filter-mobile {
		padding: 7px 0;
	}
	.breadcrumb {
		margin-bottom: 0;
	}
	.panel-cat-mob {
		margin-bottom: 0;
	}
	.desc-block-mob,
	.tab-content-mob {
		padding-top: 0 !important;
	}
	.prod-main-mob {
		margin-bottom: 0 !important;
	}
}

.navbar-nav>li.mob-1,
.navbar-nav>li.mob-2,
.navbar-nav>li.mob-3{
	display: block;
}
.navbar-nav>li.mobilelink a {
	font-size: 16px;
	display:block;
	padding:5px 15px;
}
.navbar-nav>li.mob-1>a {
	font-size: 26px;
	font-weight: 700;
	font-style: italic;
	line-height: 30px;
}
.mobilelink a {
	background-color: transparent;
}
.navbar-custom .navbar-nav>.mob-3>a {
	text-transform:none;
}
#mob-menu,
.mob-1 {
	overflow-x: hidden;
	padding-left: 5px;
	max-width: 100%;
}
#mob-menu a:hover,
#mob-menu a:focus {
	text-decoration:none;
}
.nav>.mobilelink>a:hover,
.nav>.mobilelink>a:active,
.nav>.mobilelink>a:focus {
	background-color:  #DA6730;
	text-decoration:none;
}
.nav>.mobilelink:hover,
.nav>.mobilelink:active,
.nav>.mobilelink:focus {
	background-color:  #DA6730;
}
.mob-3 > a:hover,
.mob-3 > a:active,
.mob-3 > a:focus {
	color:  #292929 !important;
	text-decoration: underline;
}
#afterpayModal .modal-header img{
	width: 40%;
}
#afterpayModal .modal-content, #afterpayModal .modal-footer{
	text-align: center;
}
@media (max-width:768px){
	.product-payment {
		text-align:center
	}
	#collapslizzle .collapslizzle-content .thumbnail:last-child {
		margin-bottom:15px;
	}
}
@media (min-width:769px) {
	.product-payment {
		text-align:right;
	}
}
#afterpayModal .modal-content{
	border: 5px solid #ccc;
}
#afterpayModal .modal-body{
	text-align: left;
}
.reviewrated {
	color: #ec6f34;
	font-weight:bold;
	cursor:pointer;
}
#afterpayModal .modal-body i{
	color: #ec6f34;
}
p.afterpay-text{
	padding-top: 10px;
}
.free-shipping {
	font-weight:bold;
	color: #ec6f34;
	font-size: 16px;
}
@media (max-width:768px) {
	.prod-breadcrumb>li:last-child a {
		display:none;
	}
}
.breadcrumb>li:last-child a {
	color: #555;
	font-weight: 300;
}
#n_product h1 {
	font-size: 22px
}
.wrap-brand-list {
	background-color:#FFFFFF;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	padding:20px 0;
	margin-bottom: 20px;
}

.brand-image {
	height:200px;

}

.brand-image img {
	max-width:100%;
}
.footer-view-all a {
	font-weight:bold !important;
}

.brand-name {
	text-align: center;
}

.home-container {padding:0px 0px 20px;}
.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}
.embed-responsive.embed-responsive-4by3 {
	padding-bottom: 75%;
}

._cpy_vouchershow {white-space:normal;}
#shop-wildearth .fa-caret-right{opacity:.5; margin-left:5px;}
.mobile-menu a {color:#FFF !important;}
.mobile-menu .btn-block {border:none; text-align:left; color:#FFF; font-size:26px; padding-left:10px;}
.mobile-menu h4 {margin-left:10px;}
.mobile-menu .fa.fa-chevron-down { color:#FFF;}
.header-search .fa {color:#ec6f34;}
.thumbnail-padding { padding:15px;}
.row.home-featured-category .thumbnail {margin-bottom: 25px;}
.caps { text-transform:uppercase;}
.description-block, .description-block p, .description-block font, .description-block li, .description-block span, .description-block div {font-size:16px !important; color:#333 !important; font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important; line-height:1.5 !important; font-weight:normal !important;}
.description-block h1,.description-block  h2,.description-block  h3,.description-block h4 {font-size:20px !important; color:#333 !important; font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important; line-height:1.5 !important; font-weight:bold !important; text-transform:capitalize !important; text-shadow:none !important;}
.description-block p strong {font-size:16px !important; color:#333 !important; font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important; line-height:1.5 !important; font-weight:bold !important;}
.description-block ul, .description-block ol {padding-left:18px !important;}
.description-block ul li, .description-block ul li {margin-bottom:15px !important;}
.arrow-down {width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 22.5px 0 22.5px;
	border-color: #ffffff transparent transparent transparent;
	position:absolute; bottom:-20px; left:50%;
	transform: translateX(-50%);
}
h1, #n_category .banner-content h1 {font-size:40px; margin-top: 0;}
.category-sub-links a {text-decoration:underline; color:#374140}
.category-sub-links {color:#374140; list-style-type:none; padding:0px;}
.category-sub-links li {margin-bottom:15px;}
.navigation-list.list-inline.visible-xs {margin-bottom:0px;}
.navbar-custom {border:none;}
.navbar-collapse.navbar-responsive-collapse.collapse {z-index:999; background:#ec6f34; width:100%; }
.product-main-wrapper {margin-bottom:50px; position:relative; margin-top:0px;}
.sub-images .thumbnail {border:3px solid #DDD; box-shadow:none; margin-bottom:15px;}
.video-thumb {position:relative; padding:0px;}
.video-thumb img {margin:0px; width:100%;}
.video-thumb i.fa {position:absolute; top:50%; left:50%; margin-left:-25px; margin-top:-25px; font-size:55px; color:#FFF; text-shadow:0px 0px 10px rgba(0,0,0,0.50);}
.product-share {margin-bottom:15px;}
.product-share > a {border:none; font-size:20px;}
.product-share > a i {color:#999999;}
.product-payment li {padding:0px;}
.panel-buying-options {box-shadow:none; border:3px solid #DDD;}
.panel-buying-options hr {margin-left:-15px; margin-right:-15px; display:none;}
#n_product .status-tray {padding-left:0px; padding-right:0px;}
#n_product .status-tray .small.text-muted.text-right {line-height:25px;}
.price-wrapper {color:#333; font-size:30px; font-weight:bold;}
.add-to-multi, #_jstl__buying_options_r .addtocart {font-size:18px;}
.text-ad-thumbnail h3.headline {padding:10px 0px 0px; background:#FFF;}
.text-ad-thumbnail .thumbnail {border-top-left-radius:3px; border-top-right-radius:3px;}
.text-ad-thumbnail .thumbnail .caption {margin:0px auto 0px;}
.post-code {padding:0;}
.table-cart {margin-top:20px;}
.securepay {width:180px; margin-top:-12px;}
#n_checkout h1 {font-size:40px;}
#n_checkout h4 {font-size:14px;}
#n_checkout .table-cart h4 {font-weight:normal;}
#n_checkout h3 {font-size:21px;}
#n_checkout #main-content .btn-default {color:#666; font-weight:normal; font-style:normal !important; border:1px solid #666; padding:7px;}
.price-save {
	color:#ec6f34;
	font-weight: bold;
}
._cpy_paydesc.alert.alert-info {background:#f5f5f5; border:1px solid #e3e3e3; color:#333;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {border:none; padding-top:5px;}
.badge-cartitems {background:#b12e10; color:#FFF; border-radius:30px; height:20px; width:20px; display:inline-block;}
.navigation-list li a {color:#FFF;}
.logo {display:inline-block;}
.header-banner {background:#FFF; padding:15px; border-radius:5px;}
.header-banner img.img-responsive {display:inline;}
.header-banner .banner-content.col-sm-6 {text-align:left;}
.header-banner .col-sm-6 {text-align:right;}
.header-banner h1 {height:160px; display:table-cell; vertical-align:middle;}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{background-color:#ec6f34;}
.nav .dropdown .open>a,.nav .dropdown .open>a:hover,.nav .dropdown .open>a:focus {background:#EEE;}
.payment-icon-securepay {background:#FFF; padding:0px; float:left; display:block; overflow:hidden;}
.payment-icon-securepay .spicon {height:36px;}
.header-content-zone h5 {margin-top:0px; margin-bottom:5px;}
.header-content-zone a {color:#FFF; text-decoration:none;}
.header-content-zone .icon-wrapper {line-height:0px;}
.variation-name {width:auto;}
.border-bottom {border-bottom:1px solid #EFEFEF; padding-bottom:15px; margin-bottom:15px;}
.stars {color:#f8b922;}
#reviews .fa-star, #reviews .fa-star-o {color:#f8b922;}
.attribute-block .attribute-rating {display:none;}
.attribute-block {line-height:2;}
.response-well {background:#fff0e9; border:none; box-shadow:none; font-style:italic; }
.response-well h4, .response-well .col-xs-10 > div {font-size:14px !important;}
.final-rating {font-size:30px;}
.final-rating .out-of-ten {font-size:50px; font-weight:bold;}
.btn-danger {border:1px solid #d43f3a; padding:7px; background:#FFF; color:#d43f3a;}
#n_customer_account	.btn-danger {padding:9px;}
#n_customer_account	.btn-default {padding:7px 7px 8px;}
.small.text-danger{font-weight:normal;}
.text-ad-thumbnail .caption p {height:40px;}
.footer-layer-three h6 {font-size:16px;}
.page-header, hr, ._step {border:none;}
.wrapper-thumbnail {min-height:530px;}
.spotlight-tile .date-posted {display:none;}
.spotlight-tile .panel-footer {height:35px;}
.brand-link {text-align:center; font-size:16px;  border-top:1px solid #CCC; margin-left:-15px; margin-right:-15px; padding-top:10px; margin-top:10px;}
.brand-link a {color:#444;}
.description-block img {max-width:100% !important;}
.thumbnail .caption .prod-title {height:60px;}

.spotlight-container .spotlight-header {
	margin: 40px 0 25px;
}

h5.spotlight-title {
	height: 45px;
}
.checkout-warning {
	font-size: 21px;
	font-weight: bold;
	color:#000000;
}
i.fa.fa-star {
	color: #FFD700;
}
.spotlight-social-links {
	margin-bottom: 50px;
}

@media (min-width: 768px) {
	.dropdown-hover:hover > .dropdown-menu {
		display: block;
	}
}

@media(min-width:992px) and (max-width:1199px){
	.thumbnail .caption .prod-title {height:80px;}
}
#n_checkout .thumbnail .caption .prod-title {height:110px;}
/* Mobile */
@media (max-width: 767px) {
	.container-fluid.wrapper-header .row-padded {text-align:center;}
	.logo {margin:20px;}
	.navbar {min-height:60px; height:60px;}
	.spotlight-social-links .spotlight-social-link {margin:0px 10px;}
	.author-img-wrapper {right:10px;}
	.navbar-nav .dropdown-menu>li>a {color:rgba(255,255,255,0.70);}
	.nav .dropdown .open>a,.nav .dropdown .open>a:hover,.nav .dropdown .open>a:focus {background:#222;}
	.thumbnail .caption .price-extras {height:42px;}
	.navbar-collapse.navbar-responsive-collapse.collapse {position:absolute;}
	.wrapper-thumbnail {min-height:initial;}
	.thumbnail .caption .prod-title {height:auto;}
	.post-code {padding-left: 15px; padding-right: 15px;}
	.panel-buying-options {
		width:83.3333%;
		margin-left:8.33333%;
	}
	#n_product .qty {
		max-width: 200px;
		display: block;
		margin: 0 auto;
	}
	#n_product .addtocart {
		max-width: 200px;
		display: block;
		margin: 0 auto;
	}
	#n_product .wrapper-pricing {
		text-align: center;
	}
}

/* Col-sm*/
@media (min-width: 767px) and (max-width: 992px) {
	.header-search {margin-top:10px;}
	.tagline {font-size:10px; margin-top:10px;}
	.header-search .fa {top:19px;}
	.header-content-zone, .header-content-zone h5 {font-size:12px !important;}
	.header-content-zone img {width:40px;}
	.header-content-zone .icon-wrapper {font-size:32px;}
	.navbar-tabs .nav-tabs>li>a {padding:7px 30px; margin-right:5px;}
	.brand-table-wrapper img {width:100% !important; height:auto !important;}
	.brand-table-wrapper td {width:33% !important;}
	.text-ad-thumbnail .caption p {height:60px;}
	.spotlight-tile .heading {height:3em;}
	#sidebar-blog .collapse {
		display: block!important;
	}
	#left-sidebar .collapse {
		display: block!important;
	}
	.post-code {padding-left: 15px; padding-right: 15px;}
}

/* Col-md*/
@media (min-width: 992px) and (max-width: 1200px) {
	.header-search {margin-top:10px;}
	.tagline {font-size:13px;}
	.header-search .fa {top:19px;}
	.brand-table-wrapper img {width:100% !important; height:auto !important;}
	.brand-table-wrapper td {width:33% !important;}

}

/* Col-lg*/
@media (min-width: 1200px) {

}

.navbar {
	margin-bottom: 0;
	min-height:0px;
}

.navbar-nav>li>a {
	/*	padding: 9px 5px;*/
	padding: 9px 12px;
}

.header-banner-bg {
	background: #fff;
	text-align:center;
}

.header-banner-bg img {
	max-width:100%;
}

.header-banner .banner-content {
	position: static;
}

img[height='0'][width='0'] {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}


.clickable-cursor {
	height: 110px;
}

@media screen and (max-width: 768px)
{
	.navbar {
		height: auto;
		margin-bottom:3px;
	}
	.navbar-collapse {
		max-height: none;
		position: static !important;
	}
	.mobile-menu > a {
		line-height: 34px !important;
	}
}

.page-header.cart {
	margin-top: 20px;
}

.category_heading {
	margin-bottom: 15px;
}

/* Description tabs */
.description_tab ul.nav {
	background: #bab6af;
	padding-left: 0 !important;
}

.description_tab ul.nav > li {
	padding: 5px 0;
	margin: 0 !important;
	width: 25%;
}

.description_tab ul.nav > li a {
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	border-left: solid 1px #fff;
	text-align: center;
}

.description_tab ul.nav > li:first-child a {
	border: none;
}

.description_tab .nav>li.active>a,
.description_tab .nav>li>a:hover,
.description_tab .nav>li>a:focus {
	background: none;
	color: #fff;
}

.description_tab .nav>li.active:after,
.description_tab .nav>li:hover:after{
	position: absolute;
	content: "";
	left: 48%;
	bottom: 0px;
	width: 0;
	height: 0;
	border-bottom: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

/* 5 featured category grid override */
@media (min-width: 992px) {
	.col-md-five {
		width: 20%;
	}
}

@media (min-width: 768px) {
	.col-sm-five {
		width: 20%;
	}
}

/* Redshift Blog Styling */

.blog-thumb h4 {
	height: 2.8em;
	margin-bottom: 0px;

}

.blog-thumb p.text-muted {
	margin-bottom: 0px;
}

.blog-thumb p.short-desc {
	height: 3em;
}

.blog-thumb h4 a {
	font-size: 18px;
	line-height: 1.2em;
	display: block;
	margin-top: 5px;
}

#sidebar-blog h2 {
	font-size: 32px;
	text-transform: none;
	line-height: 43px;
}

@media (max-width: 992px) {
	#sidebar-blog h2 {
		font-size: 28px;
		line-height: 43px;
	}
}

@media (max-width: 500px) {
	.panel-buying-options {width:100%; margin-left:0;}
}

@media (max-width: 600px) {
	.description_tab ul.nav > li {
		width: 50%!important;
	}
	.description_tab ul.nav > li:nth-of-type(odd) a {
		border: none;
	}
	.description_tab ul.nav > li:nth-of-type(even) a {
		border-left: solid 1px #fff;
	}
}

/* Thirteen Digital - Updated Header Overrides */

/* Header (Outer) */
.new-header {
	background: #292929;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.new-header .container {
	max-width: 1170px;
	margin: 0 auto;
	color: #FFF;
	position: relative;
	display: block;
	overflow: visible;
	padding: 0;
}
.logo,
.phone-search,
.social-tagline,
.offers {
	margin: 26px 0 8px 0;
}
/* Logo */
.new-header .logo {
	float: left;
	width: 28%;
	padding: 0 2% 0 0;
}
.new-header .logo img {
	max-width: 100%;
	height: auto;
}
/* Phone & Search*/
.phone-search {
	width: 26%;
	float: left;
}
.phone-search .phone a {
	color: #EC6F34;
	font-size: 15px;
	margin: 0 0 12px 0;
	text-decoration: none;
	display: block;
}
.phone-search .phone a:hover {
	text-decoration: none;
}
.phone-search .phone .fa-phone {
	color: #EC6F34;
}
.phone-search .header-search form {
	position: relative;
}
.phone-search i.fa.fa-search {
	color: #EC6F34;
	position: absolute;
	right: 27px;
	top: 9px;
}
.phone-search input#name_search {
	padding: 3% 4%;
	border-radius: 3px;
	outline: none;
	border: 0;
	width: 96%;
}
/* Social & Tagline */
.social-tagline {
	width: 15%;
	float: left;
}
.social-tagline .social-stack span.fa-stack.fa-lg {
	width: 22px;
	height: 30px;
}
.social-tagline .social-stack .fa-stack-2x {
	color: #EC6F34;
	font-size: 27px;
}
.social-tagline .social-stack .fa-stack-1x {
	color: #FFF;
	font-size: 17px;
	line-height: 27px;
}
.social-tagline .social-stack a:hover {
	opacity: .8;
	text-decoration: none;
}
.social-tagline .social-stack a:visited {
	text-decoration: none;
}
.social-tagline .tagline p {
	text-transform: uppercase;
	font-size: 11px;
	line-height: 13px;
	font-weight: 500;
	margin: 0;
}
.social-tagline .tagline .orange {
	color: #EC6F34;
}
.social-tagline .tagline .white {
	color: #FFF;
}
.social-tagline .phone {
	display: none;
}
/* Offers (shipping & newsletter)*/
.offers {
	float: right;
	width: 31%;
	margin: 59px 0 0 0;
}
.offers .free-shipping,
.offers .newsletter-signup {
	float: left;
	display: block;
	width: 48%;
}
.offers .free-shipping h5,
.offers .newsletter-signup h5 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	display: block;
	float: left;
}
.offers .free-shipping h5 a,
.offers .newsletter-signup h5 a {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 21px;
	margin: 0;
	padding: 0;
	float: left;
	color: #FFF;
	text-decoration: none;
}
.offers .free-shipping .fa,
.offers .newsletter-signup .fa {
	color: #EC6F34;
	font-size: 21px;
	line-height: 22px;
	float: left;
	margin: 0px 8px 0 0;
}
.offers p.subtext {
	display: block;
	overflow: hidden;
	position: relative;
	float: left;
}
.offers .subtext a {
	font-size: 10px;
	line-height: 13px;
	color: #6F6F6F;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	float: left;
	text-decoration: none;
}
.offers .subtext a:hover {
	text-decoration: none;
}
.offers .free-shipping {
	margin: 0 4% 0 0;
}
/* Top Nav */
.top-nav {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	text-align: right;
	position: absolute;
}
.top-nav .navbar-nav {
	float: right;
	padding: 0;
	margin: 3px 0 0 0;
}
.top-nav .navbar-nav > li {
	float: left;
	list-style:none;
	text-transform: uppercase;
	color: #FFF;
}
.top-nav .navbar-nav li a {
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0;
	font-size: 11px;
	padding: 0px 7px;
}
.top-nav .nav>li>a:hover,
.top-nav .nav>li>a:focus {
	text-decoration: none;
	background-color: #242424;
}

/*	Nav (orange) */
.tab-pane ul.nav.navbar-nav {
	display: block;
	margin: 0 auto;
	text-align: center;
	float: none;
	/*max-width: 1140px;*/
}
.tab-pane .navbar-nav>li {
	margin: 0 auto;
	display: inline-block;
	float: none;
	text-align: left;
}
.tab-pane .navbar-nav>li.mobile-menu {
	float: left;
	clear: both;
}
.header-banner-bg img {
	height: auto;
}


/* Redshift Styling */

.nav-item:hover, .nav-item:active, .nav-item:hover a, .nav-item:active a {
	background-color: #ffffff;
	color: #EC6F34!important;
}


.megamenu {
	background-color: #ec6f34;
	border: 0 none;
	}
	.megamenu .nav,
	.megamenu .collapse,
	.megamenu .dropup,
	.megamenu .dropdown {
		position: static;
	}
	.megamenu .container {
		position: relative;
	}
	.megamenu .navbar-nav > li > a:focus {
		color: #fff;
	}
	.megamenu .dropdown:hover .dropdown-menu {
		display: block;
	}
	.megamenu .dropdown:hover .dropdown-toggle {
		background-color: #fff;
		color: #ec6f34;
	}
	.megamenu .navbar-nav > li > a {
		font-size: 16px;
	}
	.megamenu .dropdown-menu {
		left: auto;
	}
	.megamenu .dropdown.megamenu-fw .dropdown-menu {
		border-top: 0;
		left: 0;
		right: 0;
	}
	.megamenu .megamenu-content {
		padding: 10px 40px 20px;
	}
	.megamenu .megamenu-content ul li a {
		color: #333;
		font-size: 14px;
		font-weight: normal;
	}
	.megamenu .megamenu-content ul li.parent-item {
		margin-top: 15px;
	}
	.megamenu .megamenu-content ul li.parent-item a {
		color: #ec6f34;
		font-size: 16px;
		font-weight: bold;
	}
	.megamenu .megamenu-content .megamenu-column {
		position: relative;
		min-height: 1px;
		padding-right: 10px;
		padding-left: 10px;
		width: 20%;
		float: left;
	}
	.megamenu .hidden-sm {
		padding-top: 5px;
	}
	.megamenu .thumbnail {
		margin-top: 10px;
		margin-bottom: 0;
	}
	.megamenu .banner-ad {
		margin-top: 10px;
	}
	@media (max-width : 992px) {
		.megamenu .navbar-nav > li > a {
			padding-right: 10px;
			padding-left: 10px;
			font-size: 14px;
		}
	}
	@media (min-width: 768px) {
		.megamenu .megamenu-content .megamenu-column {
			width: 25%;
			float: left;
		}
	}
	@media (min-width: 992px) {
		.megamenu .megamenu-content .megamenu-column {
			width: 20%;
			float: left;
		}
	}
	@media (min-width: 1200px) {
		.megamenu .megamenu-content .megamenu-column{
			width: 20%;
			float: left;
		}
	}


/* Media Queries */
@media (max-width: 1199px) {
	.new-header .logo img {
		margin: 10px 0 0 0;
	}

	.offers {
		float: left;
		width: 31%;
		margin: 42px 0 0 0;
	}

	.offers .free-shipping,
	.offers .newsletter-signup {
		width: 50%;
	}

	.offers .free-shipping {
		margin: 0 4% 0 0;
		width: 46%;
	}

	.offers .free-shipping .fa,
	.offers .newsletter-signup .fa {
		font-size: 18px;
		line-height: 19px;
	}

	.offers .free-shipping h5 a,
	.offers .newsletter-signup h5 a {
		font-size: 17px;
	}
}
@media (max-width: 991px) {
	.header-group-one {
		display: block;
		position: relative;
		overflow: visible;
		float: left;
		width: 40%;
	}

	.new-header .logo {
		width: 87%;
		padding: 0 2% 0 0;
		margin: 0;
	}

	.phone-search {
		width: 90%;
		float: left;
		margin: 0 0 8px 0;
	}

	.social-tagline {
		width: 59%;
		margin: 33px 0 15px 0;
	}

	.social-tagline .social-stack {
		display: none;
	}

	.social-tagline .tagline {
		width: 57%;
		float: left;
		padding: 0;
		margin: 0;
	}

	.social-tagline .tagline p {
		float: left;
		margin: 0 5px 0 0;
	}

	.social-tagline .phone {
		display: block;
		float: right;
		font-size: 15px;
		width: 30%;
		text-align: left;
		margin: 0 0 3px 0;
		line-height: 15px;
		text-decoration: none;
	}

	.social-tagline .phone a:hover {
		text-decoration: none;
	}

	.offers {
		width: 60%;
		margin: 0;
	}

	.phone-search .phone {
		display: none;
	}
}
@media (max-width: 900px) {
	.header-group-one {
		display: block;
		position: relative;
		overflow: visible;
		float: left;
		width: 40%;
		padding: 0 0 0 2%;
	}
	.social-tagline .social-stack {
		width: 28%;
		float: left;
		display: none;
	}
	.social-tagline .tagline {
		width: 63%;
		float: left;
		padding: 0;
		margin: 0;
	}
	.offers {
		width: 60%;
		margin: 0;
	}
}
@media (max-width: 767px) {
	.top-nav {
		display: none;
	}
	.phone-search {
		width: 87%;
		float: left;
		margin: 10px 0 10px 0;
	}
}
@media (max-width: 680px) {
	.header-group-one {
		display: block;
		position: relative;
		overflow: visible;
		float: left;
		width: 37%;
	}
	.social-tagline {
		width: 60%;
		margin: 19px 0 0px 0;
	}
	.social-tagline .phone {
		display: block;
		float: right;
		font-size: 15px;
		width: 50%;
		text-align: left;
		margin: 12px 0 3px 0;
		line-height: 15px;
		text-decoration: none;
	}
	.social-tagline .tagline {
		width: 100%;
		float: left;
		padding: 0;
		margin: 13px 0 10px 0;
	}
	.social-tagline .phone {
		width: 100%;
		margin: 0;
	}
	.offers {
		width: 63%;
		margin: 0 0 5px 0;
	}
}
@media (max-width: 600px) {
	.header-group-one {
		display: block;
		position: relative;
		overflow: visible;
		float: left;
		width: 60%;
	}
	.social-tagline {
		width: 40%;
		margin: 15px 0 0px 0;
	}
	.social-tagline .phone {
		display: block;
		float: right;
		font-size: 15px;
		width: 100%;
		text-align: left;
		margin: 0px 0 10px 0;
		line-height: 15px;
		text-decoration: none;
	}
	.social-tagline .tagline {
		width: 100%;
		float: left;
		padding: 0;
		margin: 0;
		display: none;
	}
	.offers {
		width: 39%;
	}
	.offers .free-shipping {
		margin: 0 4% 0 0;
		width: 100%;
	}
	.offers .free-shipping, .offers .newsletter-signup {
		width: 100%;
		margin: 0 0 10px 0;
	}
}
@media (max-width: 500px) {
	.header-group-one {
		display: block;
		position: relative;
		overflow: visible;
		float: left;
		width: 100%;
		padding: 0;
	}
	.header-group-two {
		display: none;
	}
	.new-header .logo {
		width: 100%;
		padding: 0 6% 0 6%;
		margin: 0;
	}
	.header-search {
		padding: 0 0 0 3%;
	}
	.phone-search {
		width: 100%;
	}
}

.panel-body-unpadded {
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;
}

.embed-container {
	position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

@media all and (max-width: 736px) {
	#PopupSignupForm_0 {
		visibility: hidden;
		display: none;
	}
}

.thisone a {
	text-decoration: underline !important;
}
.footer-layer-one .row>div:first-child h4,
.footer-layer-one .row>div:first-child+div h4 {
	margin-top: 0;
}
@media (max-width: 360px) {
	.btn-gf {
		margin-top: -20px;
	}
}