<!--##[%IF [@page_type@] eq 'category'%]##-->
<div class="col-12 col-sm-3" id="left-sidebar">

		<span class="clear"></span>
		<p class="visible-xs">
			<a class="accordion-toggle btn btn-primary btn-block" data-toggle="collapse" data-parent="#filters-accordion" href="#filters">Filter Products</a>
		</p>

		<div class="panel panel-default">
			<ul id="filters" class="panel-collapse collapse list-group">
			
				[%FILTER ID:'keywords' if:'eq' value:''%]
	[%FILTER ID:'br' if:'eq' value:''%]

	<!--##[%CATEGORYMENU start_category:'[$CURRENT_CATEGORY$]' sortby:'sortorder,name' show_empty:'0' limit:''%]
	[%PARAM header%]##-->
	 <li class="list-group-item">
							<h4 class="list-group-item-heading">Categories</h4>
						</li>
	      <!--##[%END PARAM%][%PARAM *level_1_selected%]##-->[@next_level@]
	 <!--##[%END PARAM%]
	[%PARAM *level_1%]##-->
	      	<li class="menu-sub"><a href="[@url@]" class="list-group-item">[@name@] <span class="badge">([@total@])</span></a></li>
	      
	      <!--##[%END PARAM%]
	[%PARAM footer%]##-->
	      
	   
	  <!--##[%END PARAM%]
	[%END CATEGORYMENU%]##-->
		 
	[%END FILTER%]  [%END FILTER%] 
	
	
		



				<li class="list-group-item"><hr></li>

				<!--##[%PRODUCT_FILTER type:'variations' autohide:'0'%]
					[%PARAM *header%]##-->
						<!--##[%DATA id:'activecount' if:'>' value:'0'%]
							[%PARAM *if_true%]##-->
								<a href="[@remove_url@]" class="pull-right"> clear</a>
							<!--##[%END PARAM%]
						[%END DATA%]##-->
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Filter By [@filter_name@]</h4>
						</li>
					<!--##[%END PARAM%]
					[%PARAM *body%]##-->
						<!--##[%DATA id:'selected' if:'==' value:'1'%]
							[%PARAM *if_true%]##-->
								<li class="filter-remove filter"><a href="[@remove_single_url@]" class="list-group-item" rel="nofollow">
									[@name@] <span class="badge">([@total@])</span></a>
									<!--##[%SITE_VALUE id:'filterthing'%]a[%END SITE_VALUE%]##-->
								</li>
							<!--##[%END PARAM%]
							[%PARAM *if_false%]##-->
								<li class="filter">
									<a class="list-group-item" href="[@url@]"> [@name@] <span class="badge">([@total@])</span></a>
								</li>
							<!--##[%END PARAM%]
						[%END DATA%]##-->
					<!--##[%END PARAM%]
				[%END PRODUCT_FILTER%]##-->



				<li class="list-group-item"><hr></li>

				<!--# START SHOP BY PRICE # ##-->
					<!--##[%PRODUCT_FILTER type:'price' limit:'6'%]
						[%PARAM header%]##-->
							<li class="list-group-item hidden-md hidden-lg"><h4>Filter By Price Range</h4></li>
						<!--##[%END PARAM%]
						[%PARAM *body%]##-->
							<!--##[%DATA id:'selected' if:'==' value:'1'%][%PARAM *if_true%]##-->
								<li class="filter-remove hidden-md hidden-lg"><a href="[@remove_url@]" class="list-group-item" rel="nofollow">
									[@name@] <span class="badge">([@total@])</span></a>
								</li>
								<!--##[%END PARAM%][%PARAM *if_false%]##-->
								<!--##[%DATA id:'min' if:'=' value:'0'%][%DATA id:'max' if:'>' value:'0'%]##-->
									<li class="filter hidden-md hidden-lg"><a class="list-group-item" href="[@url@]"><!--##[%FORMAT type:'currency' dp:'0'%]##-->[@max@]<!--##[%END FORMAT%]##--> or below</a></li>
								<!--##[%END DATA%][%END DATA%]##-->
								<!--##[%DATA id:'min' if:'>' value:'0'%][%DATA id:'max' if:'>' value:'0'%]##-->
									<li class="filter hidden-md hidden-lg"><a class="list-group-item" href="[@url@]"><!--##[%FORMAT type:'currency' dp:'0'%]##-->[@min@]<!--##[%END FORMAT%]##--> to <!--##[%FORMAT type:'currency' dp:'0'%]##-->[@max@]<!--##[%END FORMAT%]##--></a></li>
								<!--##[%END DATA%][%END DATA%]##-->
								<!--##[%DATA id:'max' if:'=' value:'0'%]##-->
									<li class="filter hidden-md hidden-lg"><a class="list-group-item" href="[@url@]"><!--##[%FORMAT type:'currency' dp:'0'%]##-->[@min@]<!--##[%END FORMAT%]##--> or above</a></li>
								<!--##[%END DATA%]##-->
						<!--##[%END PARAM%]
						[%END DATA%]##-->
					<!--##[%END PARAM%]
					[%PARAM footer%]##-->
					<!--##[%END PARAM%]
					[%PARAM ifempty%]##-->
					<!--##[%END PARAM%]
				[%END PRODUCT_FILTER%]##-->
				<!--# END SHOP BY PRICE # ##-->
				<!--# Shop By Price # ##-->
				<!--##[%PRODUCT_FILTER type:'price' limit:'1'%]
					[%PARAM header%]##-->
						<li class="list-group-item hidden-sm hidden-xs">
							<h4 class="list-group-item-heading">Filter By Price Range</h4>
						</li>
					<!--##[%END PARAM%]
					[%PARAM *body%]##-->
						<!--##[%SITE_VALUE id:'footer_javascript'%]##-->
							<script type="text/javascript">
								$(function() {
								var vals = ['[@min@]','[@max@]'];
								for(var i=0; i<vals.length; i++) {vals[i]=parseInt(vals[i]); }
									$( "#price-range" ).slider({
										range: true,
										min: vals[0],
										max: vals[1],
										values: vals,
										slide: function( event, ui ) {
											$( "#price-range-text" ).html( '$'+ui.values[0]+' to $'+ui.values[1] );
											$( '#pricesearch input[name="pr"]' ).val( ui.values[0]+'-'+ui.values[1] );
										},
										create: function( event, ui ) {
											$( "#price-range-text" ).html( '$'+vals[0]+' to $'+vals[1] );
											$( '#pricesearch input[name="pr"]' ).val( vals[0]+'-'+vals[1] );
										}
									});
								});
							</script>
						<!--##[%END SITE_VALUE%]##-->
						<li class="list-group-item hidden-sm hidden-xs"><p id="price-range"></p>
							<!--##[%DATA id:'selected' if:'==' value:'1'%]
								[%PARAM *if_true%]##-->
									<p id="price-range-text" class="price_range"></p>
								<!--##[%END PARAM%]
								[%PARAM *if_false%]##-->
									<p id="price-range-text" class="price_range"></p>
								<!--##[%END PARAM%]
							[%END DATA%]##-->
							<form id="pricesearch" method="get" action="[$current_url$]">
								<input type="hidden" name="rf" value="[%FILTER_CODE id:'price'%][%END FILTER_CODE%]">
								<input  name="pr" type="hidden" value="">
								<input type="submit" value="Filter By Price" class="btn btn-default btn-sm" />

								<a href="[@remove_url@]" class="text-muted padding-horz" rel="nofollow"> clear</a>
							</form>
						</li>
					<!--##[%END PARAM%]
				[%END PRODUCT_FILTER%]##-->

				<li class="list-group-item"><hr></li>

				<!--# Shop By Brand # ##-->
				<!--##[%PRODUCT_FILTER type:'brand' limit:'50' autohide:'0'%]
					[%PARAM header%]##-->
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Filter By Brand</h4>
						</li>
					<!--##[%END PARAM%]
					[%PARAM *body%]##-->
						<!--##[%DATA id:'selected' if:'==' value:'1'%]
							[%PARAM *if_true%]##-->
								<li class="filter-remove"><a href="[@remove_url@]" class="list-group-item" rel="nofollow">
									[@brand@] <span class="badge">([@total@])</span></a>
								</li>
							<!--##[%END PARAM%][%PARAM *if_false%]##-->
								<li class="filter">
									<a href="[@url@]" class="list-group-item">[@brand@] <span class="badge">([@total@])</span></a>
								</li>
							<!--##[%END PARAM%]
						[%END DATA%]##-->
					<!--##[%END PARAM%]
					[%PARAM more%]##-->
						<li class="lv1"><a class="list-group-item" href="[%URL type:'page' id:'brands'%][%END URL%]">Show all brands...</a></li>
					<!--##[%END PARAM%]
				[%END PRODUCT_FILTER%]##-->
			</ul>
		</div>

</div>
<div class="col-12 col-sm-9">
<!--##[%ELSE%]##-->
<div class="col-xs-12">
<!--##[%END IF%]##-->
