<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="[%url_info name:'meta_keywords'%][%end url_info%]"/>
<meta name="description" content="[%url_info name:'meta_description'%][%end url_info%]"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta property="og:image" content="[%if [@config:current_page_type@] eq 'product'%][%asset_url type:'product' id:'[@SKU@]' thumb:'full'%][%end asset_url%][%ELSEIF [@config:current_page_type@] eq 'content'%][%ASSET_url type:'content' id:'[@content_id@]' default:'/assets/website_logo.png'%][%end ASSET_url%][%ELSE%]/assets/website_logo.png[%end if%]"/>
<meta property="og:title" content="[%url_info name:'page_title'%][%end url_info%]"/>
<meta property="og:site_name" content="[@config:website_name@] "/>

<meta name="google-site-verification" content="[@config:GOOGLE_VERIFICATION_CODE@]"/>

<title>[%url_info name:'page_title'%][%end url_info%]</title>
<link rel="canonical" href="[@config:canonical_url@]"/>
<link rel="shortcut icon" href="[@config:homeurl@]/assets/favicon_logo.png"/>
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,900,400italic' rel='stylesheet' type='text/css'>
<link class="theme-selector" rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/app.css[%end ntheme_asset%]" media="all"/>
<link class="theme-selector" rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/user-override.css[%end ntheme_asset%]035" media="all"/>
[%if [@form:npurpose@] eq 'facebook'%]
<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/facebook.css[%end ntheme_asset%]" media="all"/>
[%/ if%]
<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]plugins/fancybox/jquery.fancybox.css[%end ntheme_asset%]"/>
<!--[if lte IE 8]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!--[if gt IE 7]>
	<link class="theme-selector" rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/ie8up.css[%end ntheme_asset%]" media="all"/>
<![endif]-->


[%tracking_code type:'Declaration'%][%end tracking_code%]
</head>

<body id="n_[@config:current_page_type@]">



	<div class="container-fluid wrapper-header">

		<!-- Top Bar -->
		<div class="row utility-row  hidden-xs">
			
			<!-- Customer Service Number -->
			<div class="col-xs-hidden col-sm-4 col-md-3 col-lg-3">
				<p class="customer-phone"> Customer Service: <a href="tel:[@config:company_phone@]">[@config:company_phone@]</a> </p>
			</div>

			<!-- Navbar -->
			<div class="col-xs-hidden col-sm-8 col-md-9 col-lg-9">
				
				<!-- Menu 1/2 -->
				<div class="navbar pull-left">
					<ul class="nav navbar-nav">
						[%cache type:'menu' id:'header-content-menu'%]
						[%menu id:'web_header'%]
							[%param *level_1%]
						<li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%]"> <a href="[@url@]" [%data id:'next_level' if:'ne' value:''%]class="dropdown-toggle" [%end data%]> [@name@]
							[%data id:'next_level' if:'ne' value:''%]
							<span class="caret"></span>
							[%end data%]
							</a>
							[%data id:'next_level' if:'ne' value:''%]
							<ul class="dropdown-menu">
								[@next_level@]
							</ul>
							[%end data%]
						</li>
						[%end param%]
							[%param *level_2%]
						<li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%]"> <a href="[@url@]">[@name@]</a>
							[%data id:'next_level' if:'ne' value:''%]
							<ul class="dropdown-menu dropdown-menu-horizontal">
								[@next_level@]
							</ul>
							[%end data%]
						</li>
						[%end param%]
							[%param *level_3%]
						<li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%]"> <a href="[@url@]">[@name@]</a>
							[%data id:'next_level' if:'ne' value:''%]
							<ul class="dropdown-menu dropdown-menu-horizontal">
								[@next_level@]
							</ul>
							[%end data%]
						</li>
						[%end param%]
						[%end menu%]
						[%/ cache%]
					</ul>
				</div>
				
				<!-- Menu 2/2 Login/Cart -->
				<div class="navbar pull-right">
					<ul class="nav navbar-nav">
						<li class="hidden">
							<!-- Chris needs to confirm the currency converter needs to be here, and won't interfere with his Google shopping stuff--> AUD </li>

						[%user id:'username' if:'ne' value:''%]
										[%param if_true%]
						<li> <a href="/_myacct"> My Account </a> </li>
						<li> <a href="[%url page:'account' type:'logout'%][%end url%]"> Log Out</a> </li>
						[%end param%]
										[%param if_false%]
						<li> <a href="/_myacct"> Log In </a> </li>
						[%end param%]
									[%end user%]

						<li id="header-cart"> <a href="[%url page:'checkout' type:'cart'%][%end url%]" id="cartcontentsheader"> <span class="visible-lg visible-inline-lg">My Cart</span> <i class="fa fa-shopping-cart"></i> <span class="badge badge-cartitems"> <span rel="a2c_item_count">
							[%format type:'number' dp:'0'%][%CART id:'total_items'%][%end CART%][%end format%]
							</span> </span> </a> </li>
					</ul>
				</div>

			</div>
		</div>

		<!-- Main area -->
		<div class="row row-padded">

			<!-- Logo/Tagline/Search-->
			<div class="col-xs-12 col-sm-6 col-lg-7">
				<div class="row">
					
					<!-- Logo -->
					<div class="col-xs-12 col-sm-6 col-lg-3"> <a href="[@config:homeurl@]" title="[@config:company_name@]"> <img class="logo" src="[@config:imageurl@]/website-logo-we.svg" alt="[@config:company_name@]"/> </a> </div>

					<!-- Tagline -->
					<div class="col-xs-12 col-sm-6 col-lg-3 tagline hidden-xs text-muted"> Your favourite brands.<br>
						Our expert knowledge. Adventure is here. </div>
					
					<!-- Search -->
					<div class="col-xs-12 col-sm-12 col-lg-6">
						<div class="header-search">
							<form class="form" name="productsearch" method="get" action="/">
								<input type="hidden" name="rf" value="kw"/>
								<input class="form-control ajax_search" value="[%nohtml%][%filter ID:'keywords'%][%end filter%][%end nohtml%]" id="name_search" autocomplete="off" name="kw" type="text" placeholder="Find the gear you're looking for"/>
								<i class="fa fa-search"></i>
							</form>
						</div>
					</div>

				</div>
			</div>
			
			<!-- Icon/Text (right) -->
			<div class="col-xs-12 col-sm-6 col-lg-5 hidden-xs">
				
				<!-- Shipping Icon/Text -->
				<div class="col-xs-hidden col-sm-6 header-content-zone">
					<div class="row">
						<div class="col-xs-3 icon-wrapper"> <i class="fa fa-truck"></i> </div>
						<div class="col-xs-9"> <a href="/view/shipping/18">
							<h5>Free Shipping</h5>
							<p class="text-muted">Australia wide on orders over $99.00</p>
							</a> </div>
					</div>
				</div>
				
				<!-- Join Newsletter icon/text -->
				<div class="col-xs-hidden col-sm-6 header-content-zone">
					<div class="row">
						<div class="col-xs-3 icon-wrapper"> <img src="/assets/themes/wildearth/img/icon_campfire.png" alt="" /> </div>
						<div class="col-xs-9"> <a href="http://eepurl.com/uWu_1" target="_blank">
							<h5>Join Our Newsletter</h5>
							<p class="text-muted">Sign up to receive your new member discount.</p>
							</a> </div>
					</div>
				</div>

			</div>
		</div>
	</div>


<div class="navbar navbar-custom">
	<div class="navbar-header">
		<ul class="navigation-list list-inline visible-xs">
			<li> <a href="#" class="" data-toggle="collapse" data-target=".navbar-responsive-collapse"> <span class="icon"> <i class="fa fa-reorder"></i> </span><br>
				Menu </a> </li>
			<li><a href="/products"><span class="icon"><i class="fa fa-gift"></i></span><br>
				Products</a></li>
			<li><a href="[%url page:'checkout' type:'cart'%][%end url%]"><span class="icon"><i class="fa fa-shopping-cart"></i></span><br>
				Cart (<span rel="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%end CART%][%end format%]</span>)</a></li>
			<li><a href="/_myacct/"><span class="icon"><i class="fa fa-user"></i></span><br>
				Account</a></li>
		</ul>
	</div>
	<div class="navbar-collapse collapse navbar-responsive-collapse">

		<!-- _______________ SHOP WILDEARTH TAB _______________ -->
		<div class="tab-pane fade in active" id="shop-wildearth">
			<ul class="nav navbar-nav">
				[%CATEGORYMENU sortby:'sortorder, name'%]
								[%param *level_1%]
				<li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%] hidden-xs"> <a href="[@url@]" [%data id:'next_level' if:'ne' value:''%]class="dropdown-toggle"[%end data%]>[@name@]</a>
					[%data id:'next_level' if:'ne' value:''%]
					<ul class="dropdown-menu">
						[@next_level@]
					</ul>
					[%end data%]
				</li>
				<div class="hidden-md hidden-lg hidden-sm"><div class="clear"></div></div>
				<li class="hidden-sm hidden-md hidden-lg mobile-menu">
					<button type="button" class="btn btn-block btn-default btn-lg" data-toggle="collapse" data-target="#[%format type:'text' maxlength:'3'%][@name@][%END format%]"> [@name@] <span class="text-muted"><i class="fa fa-chevron-down"></i></span> </button>
					<div id="[%format type:'text' maxlength:'3'%][@name@][%END format%]" class="collapse">
						<ul class="list-unstyled">
							<li><a href="[@url@]"><h4><i>See all [@name@]</i></a></h4></li>
							[@next_level@]
						</ul>
					</div>
				</li>
				<div class="hidden-md hidden-lg hidden-sm"><div class="clear"></div></div>
				[%end param%]
								[%param *level_2%]
				<li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%] hidden-xs"> <a href="[@url@]" class="nuhover dropdown-toggle">[@name@] [%data id:'next_level' if:'ne' value:''%]
					<span class="fa fa-caret-right"></span>
					[%end data%]</a>
					[%data id:'next_level' if:'ne' value:''%]
					<ul class="dropdown-menu dropdown-menu-horizontal">
						[@next_level@]
					</ul>
					[%end data%]
				</li>
				<li class="col-xs-12 hidden-sm hidden-md hidden-lg clearfix mobile-menu"><a href="[@url@]">
					<h4>[@name@]</h4>
					</a> [%DATA id:'next_level' if:'ne' value:''%]
				<div class="clear"></div>
				<ul class="nav nav-pills nav-stacked">
					[@next_level@]
				</ul>
				<div class="clear"></div>
				[%END DATA%]
				</li>

				[%end param%]
								[%param *level_3%]
				<li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%] hidden-xs"> <a href="[@url@]">[@name@]</a>
					[%data id:'next_level' if:'ne' value:''%]
					<ul class="dropdown-menu dropdown-menu-horizontal">
						[@next_level@]
					</ul>
					[%end data%]
				</li>
				<li class="hidden-sm hidden-md hidden-lg mobile-menu"> <a href="[@url@]">[@name@]</a> </li>

				[%end param%]
							[%end CATEGORYMENU%]
				<li class="hidden-xs"><a href="[%url type:'page' id:'2418'%][%/url%]">New In</a></li>
				<li class="hidden-xs"><a href="[%url type:'page' id:'2417'%][%/url%]">Sale</a></li>

				<li class="hidden-sm hidden-md hidden-lg mobile-menu"><a style="font-size:26px !important; padding:10px;" class="btn btn-block btn-default btn-lg" href="/shop/all-products/2434?rf=&sortby=new_arrivals&templatebody=new">New In</a></li>
				<li class="hidden-sm hidden-md hidden-lg mobile-menu"><a style="font-size:26px !important; padding:10px;"  class="btn btn-block btn-default btn-lg" href="[%url type:'page' id:'2417'%][%/url%]">Sale</a></li>

			</ul>
		</div>
	</div>
</div>
<div class="header-banner-bg col-xs-12 hidden-xs">
	<div class="row">
		<div class="col-xs-12">
			[%ADVERT type:'banner' template:'banner' limit:'1' ad_group:'header_banner' category:''%]

			[%END ADVERT%]
		</div>
	</div>
</div>
<div id="main-content" class="container" role="main">
<div class="row">