[%SITE_VALUE id:'footer_javascript'%]
<!-- Ajax Loading -->
<script type="text/javascript" language="javascript">
		$(document).ready(function() {
			$.product_variationInit({
				'loadtmplates': ['_buying_options', '_images','_header','_pricing','_description-tabs'],
				'fns' : {
					'onLoad' : function () {
						$('.addtocart').button("loading");
					},
					'onReady' : function () {
						$('.addtocart').button("reset");
					},
				}
			});
		});
	</script>
<script type="text/javascript" src="[%NTHEME_ASSET%]plugins/zoom/jquery.zoom-min.js[%END NTHEME_ASSET%]"></script>
<script type="text/javascript">
		$(document).ready(function(){
			$('.zoom').zoom({url: '[%asset_url type:'product' id:'[@SKU@]' thumb:'full'%][%END asset_url%]'});
		});
	</script>
	<script type="text/javascript" src="//cdn.neto.com.au/assets/neto-cdn/jcountdown/1.4/jquery.jcountdown.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$('.zoom').zoom();
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#sale-end").countdown({
				date: "[%format type:'date' format:'#K #d, #Y  #H:#I'%][@promo_end@][%/format%]"
			});
		});
	</script>
[%END SITE_VALUE%]

[%CACHE type:'display' id:'[@inventory_id@]11'%]

[%END CACHE%]

</div>
</div>
<style>
/* Custom Specs Collapse Thing
----------------------------------------------------------------------------------------------------*/
.productdetails table {width:auto !important;}
.collapslizzle-content {
	height: 500px;
	overflow: hidden;
	position: relative;
}
@media (max-width: 767px) {
	.collapslizzle-content {height: auto;}
	.collapslizzle-fade {display:none !important;}
	.sub-images .thumbnail {width:30%; margin-right:8px; float:left;}
	.status-tray.clearfix.row {font-size:10px;}
}
.collapslizzle-content.active {
	height: 100%;
}
.collapslizzle-btn {
	cursor: pointer;
}
.collapslizzle-fade {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0 );
	height: 75px;
	width: 83%;
	position: absolute;
	bottom: -00px;
}
.collapslizzle-content .thumbnail:last-child {margin-bottom:70px;}
.collapslizzle-content.active .collapslizzle-fade {
	bottom: 0;
	top: auto;
	height: 0px;
}
.collapslizzle-btn {
	margin-top: 50px;
	display: block;
}
</style>
<style>.collapslizzle-fade {display:none;}</style>

<div class="product-main-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><a href="[$home_url$]">Home</a></li>
					[%breadcrumb%][%PARAM *body%]
					<li><a href="[@url@]">[@name@]</a></li>
					[%END PARAM%][%END breadcrumb%]
				</ul>
				<div class="row">
					<div class="col-sm-7">
						<meta property="og:image" content="[@full_image@]"/>
						<div class="row">
							<div class="col-xs-12 col-sm-3 sub-images">
								<div id="collapslizzle">
									<div class="collapslizzle-content">
										<div class="panel-body"> [%IF [@misc1@]%]
											<div class="thumbnail video-thumb"> <a href="#videoblock" title="Product Video"> <img src="http://img.youtube.com/vi/[@misc1@]/1.jpg" border="0" class="img-responsive product-image-small" title="Large View"> <i class="fa fa-play-circle-o"></i> </a> </div>
											[%/IF%]
											[%if [@thumb_1@]%]
											[%THUMBNAILS id:'[@SKU@]' check_parent:'y'%]
											[%PARAM *body%]
											<div class="thumbnail"> <a href="[@full_image@]" class="fancybox" rel="product_images" title="Large View"> <img src="[@thumb_image@]" border="0" class="img-responsive product-image-small" title="Large View"> </a> </div>

											[%if [@misc1@]%]

											[%if [@count@] == 2%]

											<style>.collapslizzle-fade {display:block; !important}</style>
											[%/if%]
											[%else%]
											[%if [@count@] == 3%]
											<style>.collapslizzle-fade {display:block !important;}</style>
											[%/if%]
											[%/if%]
											[%END PARAM%]
											[%PARAM *brochure%]
											<div class="thumbnail"> <a href="[@file@]" target="_blank"> <img src="[$imageurl$]/pdf_brochure.gif" alt="View PDF brochure for [%NOHTML%][@name@][%END NOHTML%]" width="45" height="45"> </a> </div>
											[%END PARAM%]

											[%END THUMBNAILS%]
											[%else%]
											<style>.collapslizzle-fade {display:none !important;}</style>
											[%/if%]
										</div>
									</div>
									<div class="collapslizzle-fade  text-center"> <a class="collapslizzle-btn inactive">
										<div class="text-center"> Show More <i class="fa fa-chevron-circle-down"></i> </div>
										</a> </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-9">
								<div class="main-image text-center"> <a href="[%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'%][%END asset_url%]" class=" fancybox" rel="product_images">
									<div class="zoom"> <img src="[%asset_url type:'product' id:'[@SKU@]' thumb:'thumbL' check_parent:'y'%][%END asset_url%]" rel="itmimg[@SKU@]" alt="[@name@]" border="0" id="main-image" itemprop="image"> </div>
									</a> </div>
							</div>
						</div>
						<div class="hidden">
							<!-- Ajax load for images if you want them on child products -->
							[%load_ajax_template id:'_images' type:'item' template:'images' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y' %][%END load_ajax_template%]
						</div>
						<div class="hidden-xs">
							[%CROSSSELL id:'[@SKU@]' limit:'[$upsell_limit$]' template:'image_only' show_all:'1'%]
				[%PARAM HEADER%]
							<div class="row">
								<div class="col-xs-12">
									<h4>You May Also Like</h4>
								</div>
							</div>
							<div class="row">
								[%END PARAM%]
				[%PARAM FOOTER%]
							</div>
							[%END PARAM%]
			[%END CROSSSELL%]
						</div>
					</div>
					<div class="col-sm-5" itemscope itemtype="http://schema.org/Product">
						[%load_ajax_template id:'_header' type:'item' template:'header' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y' %][%END load_ajax_template%]



						<div id="multiitemadd" class="panel panel-default panel-buying-options">
							<div class="panel-body">


								<form>
									[%list_item_variations id:'[@current_sku@]'%]
										[%PARAM header%]
									<input type="hidden" id="_itmspec_sku" value="[%NOHTML%][@SKU@][%END NOHTML%]">
									<div class="row">
										[%END PARAM%]
										[%PARAM *variation_header%]
										<div class="_itmspec_listopt col-xs-12" ref="[@specific_id@]">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<div class="variation-name">
														<h5><a href="[@url@]">[@specific_name@] <i class="fa fa-external-link"></i></a></h5>
													</div>
												</div>
												<div class="col-xs-12 col-sm-6">
													<div class="specific">
														<input type="hidden" class="_itmspec_val" ref="[@specific_id@]" value="[@selected_id@]">
														[%END PARAM%]
										[%PARAM *variation_body%]
														<div class="_itmspec_listitm" ref="[@specific_id@]_[@value_id@]"> <a class="_itmspec_lnk [%DATA id:'selected' if:'eq' value:'1'%]_itmspec_selected[%END DATA%]" href="javascript:void(0);" ref="[@specific_id@]_[@value_id@]">
															[%IF [@value_image@]%]
															<img src="[@value_image@]" alt="[@value_name@]" />
															[%END IF%]
															[%IF [@value_description@]%]
															[@value_name@]
															[%ELSE%]
															[@value_description@]
															[%END IF%]
															</a> </div>
														[%END PARAM%]
										[%PARAM *variation_body_radio%]
														<label class="_itmspec_listitm btn btn-default" ref="[@specific_id@]_[@value_id@]">
															<input class="_itmspec_radio" type="radio" name="_itmspec_radio[@specific_id@]" value="[@value_id@]" ref="[@specific_id@]_[@value_id@]" [%DATA id:'selected' if:'eq' value:'1'%]checked[%END DATA%]>
															[@value_name@] </label>
														[%END PARAM%]
										[%PARAM *variation_body_image%]
														<span class="_itmspec_listitm" ref="[@specific_id@]_[@value_id@]"> <a class="_itmspec_lnk [%DATA id:'selected' if:'eq' value:'1'%]_itmspec_selected[%END DATA%]" href="javascript:void(0);" ref="[@specific_id@]_[@value_id@]">
														[%DATA id:'value_image' if:'ne' value:''%]
																	[%PARAM *if_true%]
														<img src="[@value_image@]" alt="[@value_name@]">
														[%END PARAM%]
																	[%PARAM *if_false%]
														[@value_name@]
														[%END PARAM%]
																[%END DATA%]
														</a> </span>
														[%END PARAM%]
										[%PARAM *variation_footer%]
														<div class="clear"></div>
													</div>
												</div>
											</div>
										</div>

										[%END PARAM%]
										[%PARAM *variation_header_select%]
										<div class="_itmspec_listopt col-xs-12" ref="[@specific_id@]">
											<div class="row">
												<div class="col-xs-12 col-md-6">
													<div class="variation-name">
														<h5>[@specific_name@]</h5>
														 </div>
												</div>
												<div class="col-xs-12 col-md-6">
													<div class="specific">
														<input type="hidden" class="_itmspec_val" ref="[@specific_id@]" value="[@selected_id@]">
														<div class="n-wrapper-form-control"> <span class="_itmspec_optpl" ref="[@specific_id@]">
															<select class="_itmspec_opt form-control" ref="[@specific_id@]">
																<option value="" disabled selected>Choose [@specific_name@]</option>
																[%END PARAM%]
										[%PARAM *variation_body_select%]
																<option value="[@value_id@]" >[@value_name@]</option>
																[%END PARAM%]
										[%PARAM *variation_footer_select%]
															</select>
															</span> </div>
													</div>
												</div>
											</div>
										</div>
										[%END PARAM%]
										[%PARAM footer%]

									</div>
									[%END PARAM%]
									[%END list_item_variations%]

									[%if [@misc2@] ne '' %]<div><p><a href="#sizeguidepopup" class="notify_popup" style= "float: right";><b>View Size Guide</b> <i class="fa fa-external-link"></i></a></p>
											<div class="hidden">
													<div id="sizeguidepopup"> [%content_zone id:'[@misc2@]'%][%end content_zone%] </div>
													</div>
											</div>
									[%/if%]

									[%IF ![@has_variation@]%]
									[%load_template file:"products/includes/child_products.template.html"%][%END load_template%]
									[%END IF%]
								</form>

								[%IF [@has_variation@] || ![@has_child@] AND ![@has_components@]%]
								[%load_ajax_template id:'_buying_options' type:'item' template:'buying_options' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y' %][%END load_ajax_template%]
								[%END IF%]

								[%IF [@has_components@]%]
								<hr>
								<h2>Customise Your Purchase</h2>
								[%load_template file:"products/includes/components.template.html"%][%END load_template%]
								[%END IF%]
							</div>
							<!-- /.panel-body -->

						</div>
						<div class="hidden-md hidden-lg hidden-sm">

							[%CROSSSELL id:'[@SKU@]' limit:'[$upsell_limit$]' template:'image_only' show_all:'1'%]
				[%PARAM HEADER%]
							<div class="row">
								<div class="col-xs-12">
									<h4>You May Also Like</h4>
								</div>
							</div>
							<div class="row">
								[%END PARAM%]
				[%PARAM FOOTER%]
							</div>
							<div class="row">
								<div class="col-xs-12">
									<hr>
								</div>
							</div>
							[%END PARAM%]
			[%END CROSSSELL%]
						</div>

						<!-- /.panel -->
						<div class="row">
							<div class="col-xs-12 col-md-4">
								<div class="wrapper-share-button product-share"> <a class="addthis_button btn btn-default btn-xs" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=xa-5282cbb6476f74a0" target="_blank"> <strong>Share: </strong> <i class="fa fa-facebook-square text-facebook"></i> <i class="fa fa-twitter-square text-twitter"></i> <i class="fa fa-google-plus-square text-google-plus"></i> <i class="fa fa-pinterest-square text-pinterest"></i> <i class="fa fa-tumblr-square text-tumblr"></i> </a> </div>
							</div>
							<div class="col-xs-12 col-md-8">
								<ul class="list-inline text-right product-payment">
									<li>
										<div class="payment-icon-container">
											<div class="payment-icon payment-icon-visa"></div>
										</div>
									</li>
									<li>
										<div class="payment-icon-container">
											<div class="payment-icon payment-icon-mastercard"></div>
										</div>
									</li>
									<li class="hidden">
										<div class="payment-icon-container">
											<div class="payment-icon payment-icon-directdeposit"></div>
										</div>
									</li>
									<li>
										<div class="payment-icon-container">
											<div class="payment-icon payment-icon-paypal"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /.col-sm-7 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.col-xs-12 -->
			<div class="arrow-down"></div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->
</div>
<!-- /.product-main-wrapper -->

<div class="product-sub-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="thumbnail thumbnail-padding description-block">
					[%discount_products id:'[@SKU@]' template:'' show_all:'1' limit:'100'%]
					[%PARAM HEADER%]
					<div class="alert alert-success">
						<h3>BONUS ITEMS! <small>Buy [@name@] Today &amp; Receive These For FREE!</small></h3>
						<br />
						<ul class="thumbnails">
							[%END PARAM%]
							[%PARAM FOOTER%]
						</ul>
						<div class="clear"></div>
						<small>*Strictly limited offer - act fast to secure yours!</small> </div>
					[%END PARAM%][%END discount_products%]
					[%free_gifts id:'[@SKU@]'%]
						[%PARAM *header%]
					<div class="alert alert-success">
						<h3>FREEBIES! <small>Buy [@name@] Today &amp; Choose From One Of These FREE Gifts!</small></h3>
						<br />
						<div id="freeitems">
							<ul class="thumbnails">
								[%END PARAM%]
						[%PARAM *body%]
								<li class="grid_5">
									<div class="thumbnail">
										<div class="image">
											<center>
												<a href="[%url type:'item ' id:'[@SKU@]'%][%END url%]"><img width="120" height="120" src="[@thumb@]" alt="[@name@]"></a>
											</center>
										</div>
										<br />
										<div class="title"> <a href="[%URL type:'item' id:'[@SKU@]'%][%END URL%]">[%format type:'text' maxlength:'150' rmhtml:'1'%][@name@][%END FORMAT%]</a> </div>
										<div class="freebie"><b>FREE</b> With This Item!</div>
									</div>
								</li>
								[%END PARAM%]
						[%PARAM *footer%]
							</ul>
							<div class="clear"></div>
							<small>*Strictly limited offer while stocks last - act fast to secure yours!</small> </div>
					</div>
					[%END PARAM%]
					[%END free_gifts%]

					[%load_ajax_template id:'_description-tabs' type:'item' template:'description-tabs' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y' /%]

				</div>
				<!--/.col-xs-12-->
			</div>
		</div>
		<div class="row"> [%IF [@misc1@]%]
			<div class="col-xs-12 col-md-6">
				<div class="thumbnail thumbnail-padding">
					<h4 id="videoblock" class="caps">Product Video</h4>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/[@misc1@]" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			[%/IF%]
			[%brand id:'[@brand@]'%][%param *body%]
			<div class="col-xs-12 col-md-6">
				<div class="thumbnail thumbnail-padding">
					<h4 class="caps">ABOUT [@brand@]</h4>
					<img src="[@brand_image@]">
					<div>[@description@][%IF [@description2@]%]
						<button style="padding:4px; line-height:.4;" type="button" class="btn btn-link" data-toggle="collapse" data-target="#brand[@sku@]"> Read More </button>
						[%/IF%]</div>
					<div id="brand[@sku@]" class="collapse in">
						<div>[@description2@]</div>
					</div>
					<div class="brand-link"> <a href="[%url type:'brand' id:'[@brand@]'/%]"> View All [@brand@] Products </a> </div>
				</div>
			</div>
			[%/param%][%/brand%] </div>
		<div class="row">
			<div class="col-xs-12">
				<div class="thumbnail thumbnail-padding">
					<div id="reviews">

						[%THUMB_LIST type:'product_reviews' limit:'5'%]
								[%PARAM filter_1%][@SKU@][%END PARAM%]
                                [%PARAM *header%]
						<div class="row border-bottom">
							<div class="col-xs-12 col-sm-5">
								<h4>Product reviews</h4>
								<p>Help other shoppers choose the right product. Write a review and leave your feedback below.</p>
								<p> <a href="[%URL page:'account' type:'write_review' qs:'item=[@SKU@]'%][%END URL%]" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Write a product review</a> </p>
							</div>
							<div class="col-xs-12 col-sm-4">
								<h5 class="text-center">Rating Overview</h5>
								<div class="row">
									<div class="col-xs-6 text-right">
										<p>Durability : </p>
									</div>
									<div class="col-xs-6">
										<p><span class="attribute-stars attribute-stars-durability"></span> <span class="attribute-rating attribute-rating-durability hidden"></span></p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6 text-right">
										<p>Value For Money : </p>
									</div>
									<div class="col-xs-6">
										<p> <span class="attribute-stars attribute-stars-value"></span> <span class="attribute-rating attribute-rating-value hidden"></span></p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6 text-right">
										<p>Design/Build Quality : </p>
									</div>
									<div class="col-xs-6">
										<p> <span class="attribute-stars attribute-stars-design"></span> <span class="attribute-rating attribute-rating-design hidden"></span></p>
									</div>
								</div>
								<p class="small text-muted text-center">The final rating of this product is based on these values.</p>
							</div>
							<div class="col-xs-12 col-sm-3 text-center">
								<h5>Final Rating</h5>
								<div class="final-rating"> <span class="out-of-ten">[@data:rating@]/5</span>
									<div class="large-stars">[%SET [@data:ratings-count@] = 1 /%]
										[%WHILE [@data:ratings-count@] <= [@data:rating@]%]
										[%SET [@data:ratings-count@] = [@data:ratings-count@]+1 /%] <i class="fa fa-star"></i> [%/ WHILE%]
										[%WHILE [@data:ratings-count@] <= 5%]
										[%SET [@data:ratings-count@] = [@data:ratings-count@]+1 /%] <i class="fa fa-star-o"></i> [%/ WHILE%]</div>
								</div>
							</div>
						</div>
						[%END PARAM%]
								[%PARAM *body%]

						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="attribute-block"> <span class="attribute-name"><strong>Rated</strong></span> <span class="attribute-stars attribute-stars-total"> [%SET [@data:ratings-count-total@] = 1 /%]
									[%WHILE [@data:ratings-count-total@] <= [@score@]%]
									[%SET [@data:ratings-count-total@] = [@data:ratings-count-total@]+1 /%] <i class="fa fa-star"></i> [%/ WHILE%]
									[%WHILE [@data:ratings-count-total@] <= 5%]
									[%SET [@data:ratings-count-total@] = [@data:ratings-count-total@]+1 /%] <i class="fa fa-star-o"></i> [%/ WHILE%] </span> <span class="attribute-rating">[@data:score@]</span> </div>
								<div class="attribute-block"> <span class="attribute-name">Durability</span> <span class="attribute-stars"> [%SET [@data:ratings-count-durability@] = 1 /%]
									[%WHILE [@data:ratings-count-durability@] <= [@reviewcustom1@]%]
									[%SET [@data:ratings-count-durability@] = [@data:ratings-count-durability@]+1 /%] <i class="fa fa-star"></i> [%/ WHILE%]
									[%WHILE [@data:ratings-count-durability@] <= 5%]
									[%SET [@data:ratings-count-durability@] = [@data:ratings-count-durability@]+1 /%] <i class="fa fa-star-o"></i> [%/ WHILE%] </span> <span class="attribute-rating">[@reviewcustom1@]</span> </div>
								<div class="attribute-block"> <span class="attribute-name">Value</span> <span class="attribute-stars"> [%SET [@data:ratings-count-value@] = 1 /%]
									[%WHILE [@data:ratings-count-value@] <= [@data:reviewcustom2@]%]
									[%SET [@data:ratings-count-value@] = [@data:ratings-count-value@]+1 /%] <i class="fa fa-star"></i> [%/ WHILE%]
									[%WHILE [@data:ratings-count-value@] <= 5%]
									[%SET [@data:ratings-count-value@] = [@data:ratings-count-value@]+1 /%] <i class="fa fa-star-o"></i> [%/ WHILE%] </span> <span class="attribute-rating">[@reviewcustom2@]</span> </div>
								<div class="attribute-block"> <span class="attribute-name">Design</span> <span class="attribute-stars"> [%SET [@data:ratings-count-design@] = 1 /%]
									[%WHILE [@data:ratings-count-design@] <= [@data:reviewcustom4@]%]
									[%SET [@data:ratings-count-design@] = [@data:ratings-count-design@]+1 /%] <i class="fa fa-star"></i> [%/ WHILE%]
									[%WHILE [@data:ratings-count-design@] <= 5%]
									[%SET [@data:ratings-count-design@] = [@data:ratings-count-design@]+1 /%] <i class="fa fa-star-o"></i> [%/ WHILE%] </span> <span class="attribute-rating">[@reviewcustom4@]</span> </div>
							</div>
							<div class="col-xs-12 col-sm-8" itemprop="review" itemscope itemtype="http://schema.org/Review">
							<meta itemprop="itemReviewed" content="[@name@]">
								<blockquote>
									<h4 itemprop="name">[%NOHTML%][@title@][%END NOHTML%]</h4>
									<div> <strong>[%if [@bill_first_name@]%]By: <span itemprop="author">[@bill_first_name@]</span> on [%else%]<span itemprop="author" class="hidden">Anonymous</span>[%/ if%]
										<meta itemprop="datePublished" content="[%FORMAT type:'date'%][@insert_date@][%END FORMAT%]">
										[%FORMAT type:'date'%][@insert_date@][%END FORMAT%]</strong> </div>
									<span itemprop="description">[%NOHTML%][@review@][%END NOHTML%]</span><br />
									<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
										<meta itemprop="worstRating" content = "1">
										<meta itemprop="ratingValue" content = "[@score@]">
										<meta itemprop="bestRating" content = "5">
									</div>
								</blockquote>
								[%IF [@review_response@]%]
								<div class="well response-well">
									<div class="row">
										<div class="col-xs-1"> <span class="fa fa-share fa-3x"></span> </div>
										<div class="col-xs-11">
											<h4>Response from Wild Earth team</h4>
											<div> [@review_response@] </div>
										</div>
									</div>
								</div>
								[%/IF%] </div>
						</div>

						[%END PARAM%]
								[%PARAM *footer%]
						[%END PARAM%]
								[%PARAM *ifempty%]
						[%END PARAM%]
							[%END THUMB_LIST%]
						[%data id:'reviews' if:'>' value:'0'%]
								[%PARAM if_true%]

						[%END PARAM%]
								[%PARAM if_false%]
						<h4>Be The First To Review This Product!</h4>
						<p>Help other [$company_name$] users shop smarter by writing reviews for products you have purchased.</p>
						<p><a href="[%URL page:'account' type:'write_review' qs:'item=[@SKU@]'%][%END URL%]" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Write a product review</a></p>
						[%END PARAM%]
							[%END DATA%]
					</div>
					<!--/.tab-pane-->
				</div>
				<!--/.tab-content-->
			</div>
			<!--/.tabbable-->

		</div>
		<!--/.row-->
	</div>
	<!--/.col-xs-12-->
</div>
<!--/.row-->

<!-- Generate sum to determine how many of each rating -->
[%set [@total_1@]%]
		[%thumb_list type:'product_reviews' show_all:'1' limit:'999'%]
		[%param filter_1%][@SKU@][%end param%]
		[%param *body%]
		[%if [@score@] eq '1'%]+1[%/if%]
		[%end param%]
		[%end thumb_list%]
		[%/set%]
		[%set [@total_2@]%]
		[%thumb_list type:'product_reviews' show_all:'1' limit:'999'%]
		[%param filter_1%][@SKU@][%end param%]
		[%param *body%]
		[%if [@score@] eq '2'%]+1[%/if%]
		[%end param%]
		[%end thumb_list%]
		[%/set%]
		[%set [@total_3@]%]
		[%thumb_list type:'product_reviews' show_all:'1' limit:'999'%]
		[%param filter_1%][@SKU@][%end param%]
		[%param *body%]
		[%if [@score@] eq '3'%]+1[%/if%]
		[%end param%]
		[%end thumb_list%]
		[%/set%]
		[%set [@total_4@]%]
		[%thumb_list type:'product_reviews' show_all:'1' limit:'999'%]
		[%param filter_1%][@SKU@][%end param%]
		[%param *body%]
		[%if [@score@] eq '4'%]+1[%/if%]
		[%end param%]
		[%end thumb_list%]
		[%/set%]
		[%set [@total_5@]%]
		[%thumb_list type:'product_reviews' show_all:'1' limit:'999'%]
		[%param filter_1%][@SKU@][%end param%]
		[%param *body%]
		[%if [@score@] eq '5'%]+1[%/if%]
		[%end param%]
		[%end thumb_list%]
		[%/set%]
		[%set [@total_5@]%]
		[%thumb_list type:'product_reviews' show_all:'1' limit:'999'%]
		[%param filter_1%][@SKU@][%end param%]
		[%param *body%]
		[%if [@score@] eq '5'%]+1[%/if%]
		[%end param%]
		[%end thumb_list%]
		[%/set%]
		[%set [@total_durability@]%]
		[%thumb_list type:'product_reviews' show_all:'1' limit:'999'%]
		[%param filter_1%][@SKU@][%end param%]
		[%param *body%]
		[%if [@reviewcustom1@]%]+[@reviewcustom1@][%/if%]
		[%end param%]
		[%end thumb_list%]
		[%/set%]
		[%set [@total_value@]%]
		[%thumb_list type:'product_reviews' show_all:'1' limit:'999'%]
		[%param filter_1%][@SKU@][%end param%]
		[%param *body%]
		[%if [@reviewcustom2@]%]+[@reviewcustom2@][%/if%]
		[%end param%]
		[%end thumb_list%]
		[%/set%]

		[%set [@total_design@]%]
		[%thumb_list type:'product_reviews' show_all:'1' limit:'999'%]
		[%param filter_1%][@SKU@][%end param%]
		[%param *body%]
		[%if [@reviewcustom4@]%]+[@reviewcustom4@][%/if%]
		[%end param%]
		[%end thumb_list%]
		[%/set%]

		[%SITE_VALUE id:'footer_javascript'%]

		<script type="text/javascript">
		// Rating Distribution
		var total_reviews = [@reviews@]
		var total_1 = 0[@total_1@]
			var total_1_percentage = total_1/total_reviews*100
		var total_2 = 0[@total_2@]
			var total_2_percentage = total_2/total_reviews*100
		var total_3 = 0[@total_3@]
			var total_3_percentage = total_3/total_reviews*100
		var total_4 = 0[@total_4@]
			var total_4_percentage = total_4/total_reviews*100
		var total_5 = 0[@total_5@]
			var total_5_percentage = total_5/total_reviews*100

		var total_durability = 0[@total_durability@]
		var total_value = 0[@total_value@]

		var total_design = 0[@total_design@]


		var average_durability = total_durability / [@reviews@]
		var average_value = total_value / [@reviews@]

		var average_design = total_design / [@reviews@]

		var average_overall = ((average_durability + average_value + average_design) / 3).toFixed(1)

		$(document).ready(function(){
			var buildStar = function(theRange,theStarClass) {
				if (average_overall < theRange && average_overall >= (theRange-1)) {
					$('.star-wrapper').addClass(theStarClass);
				}
			}
			var displayStar = function(){
				buildStar(1,"zero-ish");
				buildStar(2,"one-ish");
				buildStar(3,"two-ish");
				buildStar(4,"three-ish");
				buildStar(5,"four-ish");
				buildStar(6,"five-ish");
				$('.average-rating').text(average_overall);
			}
			displayStar();

			console.log(average_overall);

			$('.distribution-count-1').text(total_1);
			$('.distribution-count-2').text(total_2);
			$('.distribution-count-3').text(total_3);
			$('.distribution-count-4').text(total_4);
			$('.distribution-count-5').text(total_5);
			$('.rating-bar-1').width(total_1_percentage + '%');
			$('.rating-bar-2').width(total_2_percentage + '%');
			$('.rating-bar-3').width(total_3_percentage + '%');
			$('.rating-bar-4').width(total_4_percentage + '%');
			$('.rating-bar-5').width(total_5_percentage + '%');
			$('.attribute-rating-durability').text((average_durability).toFixed(1));
			$('.attribute-rating-value').text((average_value).toFixed(1));

			$('.attribute-rating-design').text((average_design).toFixed(1));

			var printstars = function(theAmount,theClass) {
				for(var i = 0; i < theAmount; i++) {
					$(theClass).append("<i class='fa fa-star'></i>");
				}
				for(var i = 0; i < 5-theAmount; i++) {
					$(theClass).append("<i class='fa fa-star-o'></i>");
				}
			}
			printstars((average_durability).toFixed(0),".attribute-stars-durability");
			printstars((average_value).toFixed(0),".attribute-stars-value");

			printstars((average_design).toFixed(0),".attribute-stars-design");

		});
		var reviewsShowin = 'na'
		var toggleReviews = function() {
			if(reviewsShowin == 'tru') {
				$('.reviews-wrapper').slideToggle();
				$('.reviewtogglebutton').text('Show Reviews')
				reviewsShowin = 'na'
			}
			else {
				$('.reviews-wrapper').slideToggle();
				$('.reviewtogglebutton').text('Hide Reviews')
				reviewsShowin = 'tru'
			}
		}
	</script>
		[%END SITE_VALUE%]
