<!--##[%SET [@page_type@]='category'/%]##-->

<div class="col-xs-12">
	<!--##[%breadcrumb%]
		[%PARAM *header%]##-->
			<ul class="breadcrumb">
				<li>
					<a href="[$home_url$]">Home</a>
				</li>
		<!--##[%END PARAM%]
		[%PARAM *body%]##-->
			<li>
				<a href="[@url@]">[@name@]</a>
			</li>
		<!--##[%END PARAM%]
		[%PARAM *footer%]##-->
			</ul>
		<!--##[%END PARAM%]
	[%END breadcrumb%]##-->
</div>

<div class="col-md-12">
<div class="hidden-xs hidden-sm category_heading">
	[%set [@bannerURL@]%][%ASSET_URL type:'content' id:'[@content_id@]' default:'nobanner'%][%END ASSET_URL%][%/ set%]
	[%IF [@bannerURL@] ne 'nobanner' %]
	
	
	<div class="col-xs-12">
		<div class="header-banner row">
		
		<div class="banner-content col-sm-6">
				<h1>
					<!--##[%url_info name:'page_heading' if:'eq' value:''%]
						[%PARAM if_true%]##-->
							[@content_name@]
						<!--##[%END PARAM%]
						[%PARAM if_false%]##-->
							<!--##[%url_info name:'page_heading'%][%end url_info%]##-->
						<!--##[%END PARAM%]
					[%end url_info%]##-->
					<!--##[%IF [@keywords@] == ''%]##-->
						<!--##[%FILTER ID:'keywords' if:'ne' value:''%]##--><!--##[%NOHTML%][%FILTER ID:'keywords'%][%END FILTER%][%END NOHTML%]##--><!--##[%END FILTER%]##-->
					<!--##[%END IF%]##-->
				</h1>

			</div>
			<div class="col-sm-6">
			<img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'[$imageurl$]/na.gif'%][%END ASSET_URL%]" class="img-responsive" />
			</div>
			</div>
		</div>
		
	[%else%]
	<div class="banner-content">
				<h1>
					<!--##[%url_info name:'page_heading' if:'eq' value:''%]
						[%PARAM if_true%]##-->
							[@content_name@]
						<!--##[%END PARAM%]
						[%PARAM if_false%]##-->
							<!--##[%url_info name:'page_heading'%][%end url_info%]##-->
						<!--##[%END PARAM%]
					[%end url_info%]##-->
					<!--##[%IF [@keywords@] == ''%]##-->
						<!--##[%FILTER ID:'keywords' if:'ne' value:''%]##--><!--##[%NOHTML%][%FILTER ID:'keywords'%][%END FILTER%][%END NOHTML%]##--><!--##[%END FILTER%]##-->
					<!--##[%END IF%]##-->
				</h1>

			</div>
	[%END IF%]
	
	

	[%if [@content_description1@]%]
		[@content_description1@]
	[%end if%]
	</div>		
</div>

<div class="col-xs-12">

		<!--##[%ADVERT type:'banner' limit:'1' ad_group:''%]
						[%PARAM *header%]##-->

						<!--##[%END PARAM%]
						[%PARAM *body%]##-->

							<p><a href="[@url@]"><img src="[%asset_url type:'adw' id:'[@ad_id@]' default:'[$imageurl$]/pixel.gif'%][%END asset_url%]" class="img-responsive"  alt="[@headline@]"></a></p>

						<!--##[%END PARAM%]
						[%PARAM *footer%]##-->

						<!--##[%END PARAM%]
						[%PARAM *ifempty%]##-->

						<!--##[%END PARAM%]
					[%END ADVERT%]##-->


</div>

<!--##[%load_template file:"includes/sidebar.template.html"%][%END load_template%]##-->

<!--##[%THUMB_LIST show_rating:'1' type:'products' limit:'[$THUMB_LIMIT$]'%]

[%PARAM template%][%VIEWBY type:'products' default:'[@templatethumb@]'%][%END VIEWBY%][%END PARAM%]
	[%PARAM *header%]##-->
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row sort_container">
					<div class="col-xs-4 col-sm-7 col-md-4">
						<script language="javascript" type="text/javascript">
							function viewtype(view) {
								var f=document.viewForm;
								f['viewby'].value=view;
								f.submit();
							}
						</script>

						<form method="get" name="viewForm" action="[$CURRENT_URL$]" class="hidden">
							<input name="rf" type="hidden" value="[%FILTER_CODE%][%END FILTER_CODE%]">
							<input name="viewby" type="hidden" value=""/>
						</form>

						<div class="viewby btn-group">
							<a href="javascript:viewtype('');" class="[%VIEWBY type:'products' if:'ne' value:'list' if_true:'active' if_false:''%][%END VIEWBY%]" rel="nofollow">
								<i class="fa fa-th"></i>
							</a>
							<a href="javascript:viewtype('list');" class="[%VIEWBY type:'products' if:'eq' value:'list' if_true:'active' if_false:''%][%END VIEWBY%]" rel="nofollow">
								<i class="fa fa-th-list"></i>
							</a>
						</div>
					</div>

					<div class="col-md-4 hidden-xs hidden-sm">
						<div class="btn-text">
							<strong>[@total_results@]</strong> Products Found
						</div>
					</div>

					<div class="col-xs-8 col-sm-5 col-md-4">
						<form method="get" class="form-horizontal" action="[$CURRENT_URL$]">
							<input name="rf" type="hidden" value="[%FILTER_CODE%][%END FILTER_CODE%]">
							<div class="form-group">
								<label class="control-label col-xs-2">Sort</label>
								<div class="col-xs-10">
									<select name="sortby" onChange="return this.form.submit();" class="form-control">
										<option value="popular" [%SORTBY type:'products' if:'eq' value:'popular'%]selected[%END SORTBY%]>
											Most Popular
										</option>
										<option value="brand" [%SORTBY type:'products' if:'eq' value:'brand'%]selected[%END SORTBY%]>
											Brand A-Z
										</option>
										<option value="brand-desc" [%SORTBY type:'products' if:'eq' value:'brand-desc'%]selected[%END SORTBY%]>
											Brand Z-A
										</option>
										<option value="new_arrivals" [%SORTBY type:'products' if:'eq' value:'new_arrivals'%]selected[%END SORTBY%]>
											Newest
										</option>
										<option value="lowest_price" [%SORTBY type:'products' if:'eq' value:'lowest_price'%]selected[%END SORTBY%]>
											Lowest Price
										</option>
										<option value="highest_price" [%SORTBY type:'products' if:'eq' value:'highest_price'%]selected[%END SORTBY%]>
											Highest Price
										</option>
									</select>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="[%VIEWBY type:'products' if:'eq' value:'list' if_true:'thumb_list' if_false:'thumb'%][%END VIEWBY%]">
			<div class="row">
	<!--##[%END PARAM%]
	[%PARAM *footer%]##-->
			</div>
		</div>
		<!--##[%IF [@total_results@] > [$thumb_limit$]%]##-->
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<ul class="pagination">
								<!--##[%paging limit:'3'%]
									[%PARAM *previous_page%]##--><li><a href="[@URL@]">Previous</a></li><!--##[%END PARAM%]
									[%PARAM *goback_pages%]##--><li><a href="[@URL@]">[@PAGE@]</a></li><!--##[%END PARAM%]
									[%PARAM *current_page%]##--><li class="active"><a href="[@URL@]">[@PAGE@]</a></li><!--##[%END PARAM%]
									[%PARAM *gonext_pages%]##--><li><a href="[@URL@]">[@PAGE@]</a></li><!--##[%END PARAM%]
									[%PARAM *next_page%]##--><li><a href="[@URL@]">Next</a></li><!--##[%END PARAM%]
								[%END paging%]##-->
							</ul>
						</div>
						<div class="hidden-xs col-sm-6 text-right">
							<form method="get" action="[$CURRENT_URL$]" class="form-inline">
								<input name="rf" type="hidden" value="[%FILTER_CODE%][%END FILTER_CODE%]" >



									<label>Go to Page:</label>

									<input name="pgnum" type="text" value="[@current_page@]" size="2" class="form-control">
									<input type="submit" class="btn btn-default btn-sm" value="GO">

							</form>
						</div>
					</div>
				</div>
			</div>
		<!--##[%END IF%] ##-->
	<!--##[%END PARAM%]
	[%PARAM *ifempty%]##-->
		<div class="row">
			<div class="col-xs-12">
				<p>This category is empty! Please try another category or use our search function to find what you are looking for. If you require further assistance please contact us.</p>
			</div>
		</div>
	<!--##[%END PARAM%]
[%END THUMB_LIST%]##-->

[@content_description2@]
[@content_description3@]
</div>
