/* CUSTOM */

	.home-container {padding:0px 0px 20px;}
	.embed-responsive {
	  position: relative;
	  display: block;
	  height: 0;
	  padding: 0;
	  overflow: hidden;
	}
	.embed-responsive .embed-responsive-item,
	.embed-responsive iframe,
	.embed-responsive embed,
	.embed-responsive object {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  border: 0;
	}
	.embed-responsive.embed-responsive-16by9 {
	  padding-bottom: 56.25%;
	}
	.embed-responsive.embed-responsive-4by3 {
	  padding-bottom: 75%;
	}

	._cpy_vouchershow {white-space:normal;}
	#shop-wildearth .fa-caret-right{opacity:.5; margin-left:5px;}
	.mobile-menu a {color:#FFF !important;}
	.mobile-menu .btn-block {border:none; text-align:left; color:#FFF; font-size:26px; padding-left:10px;}
	.mobile-menu h4 {margin-left:10px;}
	.mobile-menu .fa.fa-chevron-down { color:#FFF;}
	.header-search .fa {color:#ec6f34;}
	.thumbnail-padding { padding:15px;}
	.row.home-featured-category .thumbnail {margin-bottom: 25px;}
	.caps { text-transform:uppercase;}
	.description-block, .description-block p, .description-block font, .description-block li, .description-block span, .description-block div {font-size:16px !important; color:#333 !important; font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important; line-height:1.5 !important; font-weight:normal !important;}
	.description-block h1,.description-block  h2,.description-block  h3,.description-block h4 {font-size:20px !important; color:#333 !important; font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important; line-height:1.5 !important; font-weight:bold !important; text-transform:capitalize !important; text-shadow:none !important;}
	.description-block p strong {font-size:16px !important; color:#333 !important; font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important; line-height:1.5 !important; font-weight:bold !important;}
	.description-block ul, .description-block ol {padding-left:18px !important;}
	.description-block ul li, .description-block ul li {margin-bottom:15px !important;}
	.arrow-down {width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 22.5px 0 22.5px;
	border-color: #ffffff transparent transparent transparent;
	position:absolute; bottom:-20px; left:50%;
	}
	h1, #n_category .banner-content h1 {font-size:40px; margin-top: 0;}
	.category-sub-links a {text-decoration:underline; color:#374140}
	.category-sub-links {color:#374140; list-style-type:none; padding:0px;}
	.category-sub-links li {margin-bottom:15px;}
	.navigation-list.list-inline.visible-xs {margin-bottom:0px;}
	.navbar-custom {border:none; min-height:none;}
	.navbar-collapse.navbar-responsive-collapse.collapse {z-index:999; background:#ec6f34; width:100%; }
	.product-main-wrapper {margin-bottom:50px; position:relative; margin-top:0px;}
	.sub-images .thumbnail {border:3px solid #DDD; box-shadow:none; margin-bottom:15px;}
	.video-thumb {position:relative; padding:0px;}
	.video-thumb img {margin:0px; width:100%;}
	.video-thumb i.fa {position:absolute; top:50%; left:50%; margin-left:-25px; margin-top:-25px; font-size:55px; color:#FFF; text-shadow:0px 0px 10px rgba(0,0,0,0.50);}
	.product-share {margin-bottom:15px;}
	.product-share > a {border:none; font-size:20px;}
	.product-share > a i {color:#999999;}
	.product-payment li {padding:0px;}
	.panel-buying-options {box-shadow:none; border:3px solid #DDD;}
	.panel-buying-options hr {margin-left:-15px; margin-right:-15px;}
	#n_product .status-tray {padding-left:0px; padding-right:0px;}
	#n_product .status-tray .small.text-muted.text-right {line-height:25px;}
	.price-wrapper {color:#333; font-size:30px; font-weight:bold;}
	.add-to-multi, #_jstl__buying_options_r .addtocart {font-size:18px;}
	.text-ad-thumbnail h3.headline {padding:10px 0px 0px; background:#FFF;}
	.text-ad-thumbnail .thumbnail {border-top-left-radius:3px; border-top-right-radius:3px;}
	.text-ad-thumbnail .thumbnail .caption {margin:0px auto 0px;}
	.table-cart {margin-top:20px;}
	.securepay {width:180px; margin-top:-12px;}
	#n_checkout h1 {font-size:40px;}
	#n_checkout h4 {font-size:14px;}
	#n_checkout .table-cart h4 {font-weight:normal;}
	#n_checkout h3 {font-size:21px;}
	#n_checkout #main-content .btn-default {color:#666; font-weight:normal; font-style:normal !important; border:1px solid #666; padding:7px;}
	.price-save {color:#d92323;}
	._cpy_paydesc.alert.alert-info {background:#f5f5f5; border:1px solid #e3e3e3; color:#333;}
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {border:none; padding-top:5px;}
	.badge-cartitems {background:#b12e10; color:#FFF; border-radius:30px; height:20px; width:20px; display:inline-block;}
	.navigation-list li a {color:#FFF;}
	.logo {display:inline-block;}
	.header-banner {background:#FFF; padding:15px; border-radius:5px;}
	.header-banner img.img-responsive {display:inline;}
	.header-banner .banner-content.col-sm-6 {text-align:left;}
	.header-banner .col-sm-6 {text-align:right;}
	.header-banner h1 {height:160px; display:table-cell; vertical-align:middle;}
	.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{background-color:#ec6f34;}
	.nav .dropdown .open>a,.nav .dropdown .open>a:hover,.nav .dropdown .open>a:focus {background:#EEE;}
	.payment-icon-securepay {background:#FFF; padding:0px; float:left; display:block; overflow:hidden;}
	.payment-icon-securepay .spicon {height:36px;}
	.header-content-zone h5 {margin-top:0px; margin-bottom:5px;}
	.header-content-zone a {color:#FFF; text-decoration:none;}
	.header-content-zone .icon-wrapper {line-height:0px;}
	.variation-name {width:auto;}
		.border-bottom {border-bottom:1px solid #EFEFEF; padding-bottom:15px; margin-bottom:15px;}
		.stars {color:#f8b922;}
		#reviews .fa-star, #reviews .fa-star-o {color:#f8b922;}
		.attribute-block .attribute-rating {display:none;}
		.attribute-block {line-height:2;}
		.response-well {background:#fff0e9; border:none; box-shadow:none; font-style:italic; }
		.response-well h4, .response-well .col-xs-10 > div {font-size:14px !important;}
		.final-rating {font-size:30px;}
		.final-rating .out-of-ten {font-size:50px; font-weight:bold;}
		.btn-danger {border:1px solid #d43f3a; padding:7px; background:#FFF; color:#d43f3a;}
	#n_customer_account	.btn-danger {padding:9px;}
	#n_customer_account	.btn-default {padding:7px 7px 8px;}
		.small.text-danger{font-weight:normal;}
		.text-ad-thumbnail .caption p {height:40px;}
		.footer-layer-three h6 {font-size:16px;}
		.page-header, hr, ._step {border:none;}
		.wrapper-thumbnail {min-height:530px;}
		.spotlight-tile .date-posted {display:none;}
		.spotlight-tile .panel-footer {height:35px;}
		.brand-link {text-align:center; font-size:16px;  border-top:1px solid #CCC; margin-left:-15px; margin-right:-15px; padding-top:10px; margin-top:10px;}
		.brand-link a {color:#444;}
		.description-block img {max-width:100% !important;}
		.thumbnail .caption .prod-title {height:60px;}


		@media (min-width: 768px) {
		.dropdown-hover:hover > .dropdown-menu {
			display: block;
		}
	}

	  @media(min-width:992px) and (max-width:1199px){
	    .thumbnail .caption .prod-title {height:80px;}
	  }
		#n_checkout .thumbnail .caption .prod-title {height:110px;}
	/* Mobile */
	@media (max-width: 767px) {
	.container-fluid.wrapper-header .row-padded {text-align:center;}
	.logo {margin:20px;}
	.navbar {min-height:60px; height:60px;}
	.spotlight-social-links .spotlight-social-link {margin:0px 10px;}
	.author-img-wrapper {right:10px;}
	.navbar-nav .dropdown-menu>li>a {color:rgba(255,255,255,0.70);}
	.nav .dropdown .open>a,.nav .dropdown .open>a:hover,.nav .dropdown .open>a:focus {background:#222;}
	.thumbnail .caption .price-extras {height:42px;}
	.navbar-collapse.navbar-responsive-collapse.collapse {position:absolute;}
	.wrapper-thumbnail {min-height:initial;}
	.thumbnail .caption .prod-title {height:auto;}
	}

	/* Col-sm*/
	@media (min-width: 767px) and (max-width: 992px) {
	.header-search {margin-top:10px;}
	.tagline {font-size:10px; margin-top:10px;}
	.header-search .fa {top:19px;}
	.header-content-zone, .header-content-zone h5 {font-size:12px !important;}
	.header-content-zone img {width:40px;}
	.header-content-zone .icon-wrapper {font-size:32px;}
	.navbar-tabs .nav-tabs>li>a {padding:7px 30px; margin-right:5px;}
	.brand-table-wrapper img {width:100% !important; height:auto !important;}
	.brand-table-wrapper td {width:33% !important;}
	.text-ad-thumbnail .caption p {height:60px;}
	.spotlight-tile .heading {height:3em;}
	}

	/* Col-md*/
	@media (min-width: 992px) and (max-width: 1200px) {
	.header-search {margin-top:10px;}
	.tagline {font-size:13px;}
	.header-search .fa {top:19px;}
	.brand-table-wrapper img {width:100% !important; height:auto !important;}
	.brand-table-wrapper td {width:33% !important;}

	}

	/* Col-lg*/
	@media (min-width: 1200px) {

	}

	.navbar {
	  margin-bottom: 0;
	  min-height:0px;
	}

	.navbar-nav>li>a {
		padding: 9px 12px;
	}

	.header-banner-bg {
	  background: #fff;
	  text-align:center;
	}

	.header-banner-bg img {
	    max-width:100%;
	}

	.header-banner .banner-content {
		position: static;
	}

	img[height='0'][width='0'] {
	  position: absolute;
	  opacity: 0;
	  pointer-events: none;
	}


	.clickable-cursor {
		height: 160px;
	}

	@media screen and (max-width: 768px)
	{
		.navbar {
		    height: auto;
		    margin-bottom:15px;
		}
		.navbar-collapse {
		    max-height: none;
		    position: static !important;
		}
		.mobile-menu > a {
			line-height: 34px !important;
		}
	}

	.page-header.cart {
		margin-top: 20px;
	}

	.category_heading {
		margin-bottom: 15px;
	}

	/* Description tabs */
	.description_tab ul.nav {
		background: #bab6af;
		padding-left: 0 !important;
	}

	.description_tab ul.nav > li {
		padding: 5px 0;
		margin: 0 !important;
	}

	.description_tab ul.nav > li a {
		cursor: pointer;
		color: #fff;
		text-transform: uppercase;
		border-radius: 0;
		padding: 10px 94px;
	  	border-left: solid 1px #fff;
	}

	.description_tab ul.nav > li:first-child a {
		border: none;
	}

	.description_tab .nav>li.active>a,
	.description_tab .nav>li>a:hover,
	.description_tab .nav>li>a:focus {
		background: none;
		color: #fff;
	}

	.description_tab .nav>li.active:after,
	.description_tab .nav>li:hover:after{
		position: absolute;
		content: "";
		left: 48%;
		bottom: 0px;
		width: 0;
		height: 0;
		border-bottom: 10px solid #fff;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
	}

	/* 5 featured category grid override */
	@media (min-width: 992px) {
		.col-md-five {
		  width: 20%;
		}
	}

	@media (min-width: 768px) {
		.col-sm-five {
		  width: 20%;
		}
	}

